.splash{

  h2{
    font-size:var(--hed-primary);
  }
  h1{
    padding-block-start:var(--flow-13);
    font-size:var(--hed-secondary);
    font-family:var(--font-sans);
    color:var(--color-distinct);
  }

  p{
    padding-block-start:var(--flow-7);
    max-width:50ch;
  }
  .cta{
    display:inline-grid;
  }

  .cluster{
    flex-direction:row;
    align-items:flex-start;
    padding-block-start:var(--flow-7);
    a{
      flex-grow:1;
    }

  }
}

.codex .border-thickness{
  display:flex;
  flex-direction:column;
  gap:var(--flow-5);

  div{
    height:var(--flow-13);
    width:100%;
    border-color:var(--color-distinct);
    border-style:solid;
  }
}
