@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('./fonts/BricolageGrotesque.woff2') format('woff2-variations');
  font-weight: 200 800;
  font-stretch: 75% 100%;
}

@font-face {
  font-family: 'Recursive';
  src: url('./fonts/RecursiveVF.woff2') format('woff2-variations');
  font-style: oblique 0deg 15deg;
  font-weight: 300 1000;
  font-display: swap;
}
