.breadcrumb{
  a{
    text-decoration:none;
    color:var(--color-distinct);
    font-size:var(--hed-tertiary);
    margin-left:calc(-1*var(--flow-space-5));
  }

  ol{
    padding:var(--flow-space-10) 0 var(--flow-space-13) 0;
    margin:0;
    list-style-type:none;
  }

  [aria-current="page"]{
    color:var(--color-emphasis);
    font-weight:var(--font-strong);
  }
}
