div.case-studies{
  display:flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: var(--rhythm-andantino);
  margin-block:var(--rhythm-andante);

  article{
    display:flex;
    flex-flow:column;
    justify-content:space-around;
    height:100%;
    row-gap:var(--rhythm-presto);
  }
}
section.case-studies{max-inline-size:none;}
.case-study{
  p:has(.client + .principal){
    text-align:center;
    font-size:var(--small);
    color: var(--color-subtle);
  }
  .client{
    font-weight:var(--weight-medium);
  }
  .hed{
    text-align:center;
    line-height:var(--leading-fine);
    color: var(--color-distinct);
  }
  .dek{
    color: var(--color-nuance);
    font-size:var(--prose);
    text-align:center;
    padding-block-end:var(--rhythm-moderato);
  }
  .meta{
    padding-block-start: var(--rhythm-moderato);
    border-block-start: var(--border-thin) dashed var(--border-color-nuance);
    display: inline-flex;
    flex-flow: column;
    list-style-type: none;
    gap:var(--rhythm-presto);
    padding:0;
    width:100%;
    max-width:100%;
    overflow-x:hidden;

    li{
      display: flex;
      flex-flow:row;
      align-items: baseline;
      justify-content: space-between;
      font-size:var(--small);
      padding-block:0;
      line-height:var(--leading-loose);
      column-gap: var(--rhythm-moderato);
    }
    li:first-of-type{
      padding-block-start:var(--rhythm-moderato);
    }
    li span:nth-of-type(2){
      text-align:right;
    }
    .label{
      text-transform: uppercase;
      font-size:var(--caption);
      letter-spacing: 1.25%;
      font-feature-settings: "smcp";
      font-weight: var(--weight-bold);
    }
  }

  &:hover, &:active{
    p:has(.client + .principal), .hed, .dek, .meta li{
      color:var(--color-distinct);
    }
  }
}
@media screen and (min-width: 40.99em) {
  div:is(.case-studies){
      display:grid;
      grid-template-columns: repeat(2, 1fr);

  }
  .case-study{
    .dek{
      margin-block-end:var(--rhythm-vivace);
    }
    .meta{
      display:grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      column-gap: var(--rhythm-vivace);
      list-style-type: none;
      padding: 0;
      width: 100%;
      max-width: 100%;

      li{
        flex-direction:column;
        font-size: var(--caption);
        padding-block-start:var(--rhythm-moderato);

        &.role span{
          text-align:left;
        }
        &.organization{
          span{
            text-align:right;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 41em) and (max-width: 59.99em) {
  .case-study .meta{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
  }
  .meta {
    li:last-of-type{
      grid-area:  2 / 1 / 3 / 3;
    }
    li.role span{
      text-align:left;
    }
    li.industries{
      align-items:flex-end;
      text-align:right;
      justify-content: flex-start;

      span{text-align:right;
      }
    }

    li.organization{
      flex-direction:row;
    }
    li.organization span{
      text-align:right;
    }
  }

}
@media screen and (min-width: 60em) {
  .case-study{
    p:has(.client + .principal){
      font-size:var(--prose);
    }
    .meta li{
      justify-content:flex-start;
    }

    li.industries{

    }
    .dek{
      font-size:var(--hed-quaternary);
    }
    .meta li{
      font-size:var(--small);
    }
    .meta li span:nth-of-type(2){
      text-align:left;
    }

  }
}
