div.case-studies{
  display:flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: var(--flow-6);
  margin-block:var(--flow-7);

  article{
    display:flex;
    flex-flow:column;
    justify-content:space-around;
    height:100%;
    row-gap:var(--flow-2);
  }
}
.selected-work{max-inline-size:none;}
.case-study{
  width:100%;
  transition:
  border var(--duration-base) ease-in-out,
  background var(--duration-base) ease-in-out,
  color var(--duration-slower) ease-in-out;
  text-decoration: none;
  &:nth-of-type(4) img{
    position:relative;
    top:-5px;
  }

  .card{max-width: 600px;padding:0;}

  img{
    border-start-start-radius:var(--radii-square);
    border-start-end-radius:var(--radii-square);
    aspect-ratio: 16/9;
    max-inline-size: none;
    mix-blend-mode:normal;
    background:var(--background-primary);
    filter:grayscale(.15);
    object-fit: cover;
    object-position:center;

  }
  .client, .principal{
    font-weight:var(--weight-medium);
  }
  .hed{
    text-align:center;
    line-height:var(--leading-fine);
    color: var(--color-distinct);
    padding-block-start:var(--flow-3);
  }
  .dek{
    color: var(--color-nuance);
    padding-inline:var(--flow-5);
    font-size:var(--prose);
    text-align:center;
    margin-block-end:var(--flow-2);
  }
  .info{
    display:flex;
    margin-inline:var(--flow-5);
    column-gap:var(--flow-3);
    row-gap:var(--flow-2);
    font-size:var(--small);
    color: var(--color-subtle);
    border-block-start: 1px dashed var(--border-color-distinct);
    flex-wrap:wrap;

    justify-content:space-between;
    padding:0;
    padding-block-end:var(--flow-5);
    padding-block-start:var(--flow-4);
  }


  .client, .principal, .hed, .dek,.time, img, .info, .icon{
    transition:
      border var(--duration-base) ease-in-out,
      background var(--duration-base) ease-in-out,
      mix-blend-mode var(--duration-base) ease-in-out,
      color var(--duration-slower) ease-in-out,
      fill var(--duration-base) ease-in-out;
  }
  &:hover, &:active{
    .client, .principal, .hed, .dek, .time {
      color:var(--color-emphasis);
    }
    .info{
      border-color:var(--border-color-prominent);
    }
    img{border-block-end-color:var(--color-quiet);mix-blend-mode:luminosity;}
  }
}



@media screen and (min-width: 40.99em) {
  div:is(.case-studies){
      display:grid;
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 60em) {
  .case-study{
    img{
      max-height: var(--flow-15);
    }
    .dek{
      font-size:var(--hed-quaternary);
    }
  }
}
