/* OVERVIEW PAGES */

.project-overview{
  .overview{
    border-top: var(--border-fine) dashed var(--color-quiet);
    border-bottom: var(--border-fine) solid var(--color-quiet);
    padding: var(--flow-4) 0;
    width: 100%;
    font-size: var(--small);
    color: var(--color-nuance);
    padding-block:var(--flow-7);

    display:flex;
    flex-direction:column;

    .main-column{
      order:1;
    }
    .summary{
      max-width:75ch;
    }

    aside{
      order:2;
      margin-block-start: var(--flow-7);

      ul{
        background:var(--background-secondary);
        border-radius:var(--radii-square);
        height: max-content;
        padding-inline:var(--flow-5);
        box-sizing:content-box;
      }
      li{
        font-size:var(--small);
        font-family: var(--font-mono);
        list-style-type:none;
        display:flex;
        flex-direction:column;
        margin-block-end:var(--flow-2);
      }
      .label{
        text-transform: uppercase;
        font-size:var(--caption);
        letter-spacing: 1.25%;
        font-feature-settings: "smcp";
        font-weight: var(--weight-bold);
      }
    }
    .table-of-contents{
      order:3;
      margin-block-start: var(--flow-7);
    }
    .client {
      padding-block-end: var(--flow-7);

      p{
        --measure:50ch;
      }
    }
  }
  h2{
    font-size:calc(1.25*var(--hed-tertiary));
    padding:0;
  }
  h2, h3{
    color:var(--color-prominent);
  }
  h2 + p, h3 + p{
    font-size:var(--hed-quaternary);
    color:var(--color-distinct);
  }
  .client, .contribution, .artifacts{
    max-inline-size: var(--measure);

    h2{
      padding-top:var(--flow-7);
    }
  }
  .overview, .prose{
    max-inline-size:none;
    max-width:none;
  }
  .contribution{
    padding-block-end: var(--flow-7);
    --measure: 84ch;
    width:100%;
    border-bottom: var(--border-fine) solid var(--border-color-nuance);

    p{
      --measure:50ch;
    }
  }
}

section:has(.objectives, .results){
}

.project-overview .cta{
  background:var(--background-tertiary);
  padding:var(--flow-7);
  margin-block:var(--flow-7);
  border-radius:var(--radii-square);
  display:flex;
  flex-flow: column;
  max-inline-size:var(--measure);
  width:100%;
  align-items: center;
  row-gap:var(--flow-5);
  box-sizing:border-box;

  h3{
    padding:0;
  }
}

.button:is(.case-details){
  --button-gap: var(--flow-2);
  border-color: var(--border-color-distinct);
  background: transparent;
  width:max-content;
  padding-inline:var(--flow-5);
  color:var(--color-distinct);
  margin-block-start:0;

  &:hover{
    border-color: var(--border-color-emphasis);
    color: var(--color-emphasis);
    background:var(--background-tertiary);
  }
}
.button:is(.case-details)::before{
  content: "";
  position:relative;
  align-self: center;
  height: var(--prose);
  width: var(--prose);
  display:inline-block;
  background:var(--color-distinct);

  mask-image: url('/assets/svg/icons/read-me.svg');
  mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-size: var(--prose);
  mask-position: center;
  margin-inline-end: var(--flow-2);
  margin-inline-start: var(--flow-2);
}
.case-details:hover::before, .case-details:active::before{
  background:var(--color-prominent);
}

@media screen and (min-width:40em){
  .project-overview{
    .overview{
      display: flex;
      flex-direction: row;
      gap: var(--flow-7);

      .main-column{
        flex:2;
        display:flex;
        flex-direction:column;
        gap:0;
      }
      aside{
        flex:1;
      }
      .table-of-contents {
        margin-top: var(--flow-7);
        order: initial; /* Places it after summary in the same column */
      }
    }
  }
  section:has(.objectives, .results){
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--flow-5);
    max-inline-size:none;
    width:100%;
  }
  .project-overview .cta{
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
