.journal .content, .essays .content{
  display:flex;
  flex-flow:column;
  gap:var(--flow-2);
}

.journal .h-entry, .essays .h-entry, .articles .h-entry{
  --measure: 80ch;

  &:focus-within{
    background:var(--background-primary);
  }

  a{
    text-decoration:none;
    h2, p, time, svg{transition: color var(--duration-faster) ease-in-out, fill var(--duration-faster) ease-in-out;}

    &:hover, &:active{
      h2, p, time, svg{color:var(--link-color-active);fill:var(--link-color-active)}
    }
  }

  .e-content{
    padding:var(--flow-5);
    margin-inline-start:calc(-1*var(--flow-5));
    border: var(--border-fine) solid transparent;
    transition: background var(--duration-faster) ease-in-out, border var(--duration-faster) ease-in-out;
    border-radius: var(--radii-square);

    &:hover, &:active{
      background: var(--background-primary);
      border: var(--border-fine) solid var(--border-color-subtle);

      .meta{
        border-block: var(--border-fine) dashed var(--border-color-prominent);
      }
    }
  }

  .meta{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: baseline;
    font-family: var(--font-mono);
    font-size: var(--small);
    padding-block: var(--flow-3);
    margin-block-end: var(--flow-3);
    border-block: var(--border-fine) dashed var(--border-color-distinct);
    transition: border-color var(--duration-faster) ease-in-out;
    background:var(--background-primary);
  }

  time{
    display: block;
    font-weight: var(--weight-semibold);
    letter-spacing: 5%;
    text-transform: uppercase;
    color: var(--color-distinct);
    transition: color var(--duration-faster) ease-in-out;
  }

  .text-stats{
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    justify-self: flex-end;
    font-size:var(--small);
    color:var(--color-subtle);

    &:has(.status-icon){
      gap:1rem;
      justify-content: flex-end;
      grid-template-columns: auto 1fr;
    }
    .status-icon{
      height:1rem;
      width:1rem;
    }
  }

  h2{
    font-size:var(--hed-tertiary);
    line-height:var(--leading-fine);
    color:var(--color-distinct);
    font-weight:var(--weight-semibold);
    text-wrap:balance;
    padding-block-start:var(--flow-2);
    font-family:var(--font-serif);
  }

  .dek{
    color:var(--color-subtle);
  }
}

.links article{
  --measure: 80ch;

  .meta{
    display:grid;
    grid-template-columns: auto 1fr;
    gap: var(--gutter);
    align-items:baseline;
  }
}


article {
  header{
    max-inline-size:100%;
  }
  .post .p-subtitle{
    font-family:var(--font-sans);
    font-size:var(--hed-secondary);
    color:var(--color-subtle);
  }
  .on-at-in{
    border-block: var(--border-fine) dashed var(--color-quiet);
    border-block-start-style: solid;
    padding-block: var(--flow-4);
    container-type: inline-size;
    container-name: on-at-in;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    font-family:var(--font-mono);
    font-size:var(--small);
    color:var(--color-nuance);
    margin-block:var(--flow-5) var(--flow-6);

    .with-icon .icon{
      margin-inline-end:var(--flow-2);
      top:4px;
      fill:var(--color-nuance);
    }
  }
  .prose{
    box-sizing: content-box;
    text-align: left;
    max-inline-size: var(--measure);
    max-width: var(--measure);
    display:flex;
    flex-direction: column;
    align-items: flex-start;
  }

  footer{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
    color:var(--color-nuance);
    border-block: var(--border-fine) solid var(--color-quiet);
    border-block-start-style: dashed;
    padding-block: var(--flow-3) var(--flow-4);
    margin-top:var(--flow-7);

    .on-at-in{
      font-size:var(--small);
    }
    .with-icon .icon{
      fill:var(--color-distinct);
      margin-inline-end:var(--flow-3);
    }
  }
  .written-url{
    font-family:var(--font-mono);
    font-size:var(--small);
    font-weight: bolder;
  }
}

@media (max-width: 40em){
  article .on-at-in {
    flex-direction: column;
    gap: var(--flow-2);
  }
}

.day-group .meta{
  text-align:right;
}
