.links .content{
  display:flex;
  flex-flow:column;
  gap:var(--rhythm-moderato);
}

@media screen and (min-width:80em){
  .links main[role="main"] .wrapper{
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows:repeat(3, auto);
    grid-template-areas:
    "header header"
    "content aside"
    "footer footer";

    header { grid-area: header; }
    header + div { grid-area: content; }
    footer{ grid-area: footer;}
  }
}

.links .wrapper{
  overflow:hidden;
}

.date-header{
  font-size:var(--hed-quaternary);
  padding-block-start:var(--rhythm-andante);
  margin-block-start:var(--rhythm-andante);
  border-top:var(--border-thin) solid var(--border-color-subtle);
}
.links box-l{
  padding:0;

  h3{
    margin-block-start:var(--rhythm-moderato);
  }
}

.day-group:has(article:nth-of-type(2)){
  article{
    padding-block:var(--rhythm-moderato);
  }
}
