article:is(.review){
  max-inline-size:none;
  display:flex;
  flex-flow:column;
  gap:var(--rhythm-vivace);
  background: var(--background-primary);
  border: 1px solid var(--border-color-nuance);

  .lede{
    font-size:var(--hed-tertiary);
    color:var(--color-distinct);
  }
  .reviewer{
    font-size:var(--hed-quaternary);
    color:var(--color-distinct);
  }
  .reviewer + p{
      padding-block-start:var(--rhythm-prestissimo);
      color:var(--color-nuance);
  }
  & > div > p{
    padding: var(--rhythm-moderato);
  }
  & > div > div{
    padding: var(--rhythm-moderato);
  }
}
.endorsements main .wrapper{
  display:flex;
  flex-flow:column;
  gap:var(--rhythm-moderato);
}

@media only screen and (min-width: 576px){
  article:is(.review){
    flex-flow:row;
    column-gap:var(--rhythm-vivace);
    grid-row-gap:var(--rhythm-vivace);
    width:fit-content;

    img{
      object-fit:cover;
      object-position:center;
      aspect-ratio:1/1;
      max-width:250px;

    }
   & > div{
      display:flex;
      flex-flow:column;
      gap:var(--rhythm-moderato);
      max-inline-size:var(--measure);
    }
  }
}
