article:is(.review){
  max-inline-size:none;
  display:flex;
  flex-flow:column;
  gap:var(--flow-3);
  background: var(--background-primary);
  border: 1px solid var(--border-color-nuance);
  --flow-space: var(--flow-6);
  border-radius:var(--radii-square);

  img{
    border-start-start-radius: var(--radii-square);
    border-end-start-radius: var(--radii-square);
    border-inline-end:var(--border-fine) solid var(--border-color-distinct);
  }
  .content{
    padding:var(--flow-5);
  }
  .lede{
    font-size:var(--hed-tertiary);
    color:var(--color-distinct);
  }
  .byline{
    padding-block-start:var(--flow-5);
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "h2"
      "p"
      "small";

    h2 { grid-area: h2; }
    p { grid-area: p; }
    small {
      grid-area: small;
      width: 100%;
      margin-block-start:var(--flow-2);
      font-family:var(--font-mono);
    }
  }
    small .icon{
      position:initial;
      height:var(--small);
    }
  .reviewer{
    font-size:var(--hed-quaternary);
    color:var(--color-distinct);
  }
  .reviewer + p{
    padding-block-start:var(--flow-1);
    color:var(--color-nuance);
  }
  .role{
    font-weight: var(--weight-medium);
  }
  .context{
    font-style: italic;
  }
  .relationship{
    text-transform:capitalize;
  }
}

@media only screen and (min-width: 40em){
  article:is(.review){
    flex-flow:row;
    column-gap:var(--flow-3);
    grid-row-gap:var(--flow-3);
    width:fit-content;

    img{
      object-fit:cover;
      object-position:center;
      aspect-ratio:1/1;
      max-width:250px;
    }
   & > div{
      display:flex;
      flex-flow:column;
      max-inline-size:var(--measure);
    }
  }
}

@media only screen and (min-width: 50em){
  article:is(.review){
    .byline{
      display: grid;
      grid-template-columns: repeat(1fr, auto);
      grid-template-rows: repeat(3, auto);
      gap: 0px 0px;
      grid-template-areas:
        "h2 small"
        "p small"
        "p small";

      h2 { grid-area: h2; }
      p { grid-area: p; }
      small {
        grid-area: small;
        justify-content: center;
        align-content: flex-end;
        width: 100%;
        text-align: end;
        align-content: center;
      }
    }
  }
}
