header.work{
  padding-block-end:var(--flow-7);

  .dek{
    font-size:calc(.85*var(--hed-secondary));
    line-height: var(--leading-standard);
    color:var(--color-distinct);
    padding-block:var(--flow-6);
    border-block: var(--border-fine) solid var(--border-color-nuance);
    margin-block: var(--flow-5);
    span{display:block;max-width: 38ch;}
  }
  .lede{
    color:var(--color-nuance);
    max-width:84ch;
    padding-block-end:var(--flow-7);

    p{
      font-size:var(--dek-primary);
      line-height:var(--leading-standard);
    }
  }
}
.work{
  .metrics{
    list-style-type:none;
    padding:0;
    font-family:var(--font-mono);
    max-width:100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      ". .";
    gap: var(--flow-5);


    li{
      margin:0;
      display:flex;
      flex-flow:column;
      gap:var(--flow-3);
      padding:var(--flow-5);
      background:var(--background-secondary);
      justify-items: center;
      align-items: center;
      font-size:var(--small);
      gap: var(--flow-2);
      text-align:center;
      border-radius:var(--radii-square);
      color:var(--color-distinct);
    }
    span{
      font-size:var(--hed-tertiary);
      font-weight:var(--weight-bold);
    }
  }
}

.work .timeline{
  h2{
    padding-block-end:var(--flow-3);
  }
  ul{
    list-style-type:none;
    max-width:var(--measure);
    margin:0;
    padding:0;
  }
  li{
    display:grid;
    grid-template-columns: 1fr auto;
    justify-content:space-between;
    border-block-end:var(--border-fine) solid var(--border-color-nuance);
    align-content:baseline;
    column-gap:var(--flow-5);
    padding-block:var(--flow-3);
  }

  p{
    display:flex;
    flex-direction:column;
  }

  span{
    color:var(--color-subtle);
  }
  .cta{
    margin-block-end:var(--flow-3);
    background:var(--background-secondary);
    border-end-end-radius:var(--radii-square);
    border-end-start-radius:var(--radii-square);
    padding:var(--flow-4);
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "cta cta"
      "here there";
    gap:var(--flow-5);

  p{grid-area:cta;text-align:center;color:var(--color-distinct);}
  a:first-of-type{grid-area:here;}
  a:nth-of-type(2){grid-area:there;}
  }
}

@media only screen and (min-width:40em){
  header.work{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap:var(--flow-5);
    grid-template-areas:
      "title title title"
      "dek dek dek"
      "lede lede metrics";


    h1{       grid-area: title;}
    .dek{     grid-area: dek;}
    .lede{    grid-area: lede;}
    .metrics{ grid-area: metrics;}
  }
  .work .timeline .cta{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:auto;
    grid-template-areas:
      "cta here there";
    align-items:baseline;

    p{justify-self:flex-start;}
  }
}
