@charset "UTF-8";
/* https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
  margin-block-start: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
  margin: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/ibm-plex-sans/woff2/IBMPlexSansVar-Roman.woff2) format("woff2-variations");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: normal;
  src: url(../fonts/ibm-plex-sans/woff2/IBMPlexSansVar-Italic.woff2) format("woff2-variations");
}
@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ibm-plex-serif/woff2/IBMPlexMono-Text.woff2) format("woff2");
}
@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/ibm-plex-serif/woff2/IBMPlexMono-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ibm-plex-serif/woff2/IBMPlexMono-Semibold.woff2) format("woff2");
}
@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/ibm-plex-serif/woff2/IBMPlexMono-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "IBM Plex Serif";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ibm-plex-serif/woff2/IBMPlexSerif-Text.woff2) format("woff2");
}
@font-face {
  font-family: "IBM Plex Serif";
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/ibm-plex-serif/woff2/IBMPlexSerif-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "IBM Plex Serif";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ibm-plex-serif/woff2/IBMPlexSerif-Semibold.woff2) format("woff2");
}
@font-face {
  font-family: "IBM Plex Serif";
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/ibm-plex-serif/woff2/IBMPlexSerif-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "IBM Plex Serif";
  font-weight: 400;
  font-style: italic;
  src: url(../fonts/ibm-plex-serif/woff2/IBMPlexSerif-TextItalic.woff2) format("woff2");
}
@font-face {
  font-family: "IBM Plex Serif";
  font-weight: 500;
  font-style: italic;
  src: url(../fonts/ibm-plex-serif/woff2/IBMPlexSerif-MediumItalic.woff2) format("woff2");
}
@font-face {
  font-family: "IBM Plex Serif";
  font-weight: 700;
  font-style: italic;
  src: url(../fonts/ibm-plex-serif/woff2/IBMPlexSerif-SemiboldItalic.woff2) format("woff2");
}
@font-face {
  font-family: "IBM Plex Serif";
  font-weight: 800;
  font-style: italic;
  src: url(../fonts/ibm-plex-serif/woff2/IBMPlexSerif-BoldItalic.woff2) format("woff2");
}
:root {
  --font-sans:"IBM Plex Sans", sans-serif;
  --font-serif:"IBM Plex Serif", serif;
  --font-mono:"IBM Plex Mono", monospace;
  --type-scale-2: 0.125rem;
  --type-scale-4: 0.25rem;
  --type-scale-8: 0.5rem;
  --type-scale-12: 0.75rem;
  --type-scale-14: 0.875rem;
  --type-scale-16: 1rem;
  --type-scale-18: 1.125rem;
  --type-scale-20: 1.25rem;
  --type-scale-24: 1.5rem;
  --type-scale-28: 1.75rem;
  --type-scale-32: 2rem;
  --type-scale-36: 2.25rem;
  --type-scale-42: 2.625rem;
  --type-scale-48: 3rem;
  --type-scale-54: 3.375rem;
  --type-scale-60: 3.75rem;
  --type-scale-68: 4.25rem;
  --type-scale-76: 4.75rem;
  --type-scale-84: 5.25rem;
  --type-scale-92: 5.75rem;
  --type-scale-102: 6.375rem;
  --type-scale-112: 7rem;
  --type-scale-122: 7.625rem;
  --type-scale-132: 8.25rem;
  --type-scale-144: 9rem;
}

:root {
  --flow-1: clamp(0.125rem, 0.1033rem + 0.1087vw, 0.1875rem);
  --flow-2: clamp(0.25rem, 0.2283rem + 0.1087vw, 0.3125rem);
  --flow-3: clamp(0.5rem, 0.4565rem + 0.2174vw, 0.625rem);
  --flow-4: clamp(0.75rem, 0.6848rem + 0.3261vw, 0.9375rem);
  --flow-5: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
  --flow-6: clamp(1.5rem, 1.3696rem + 0.6522vw, 1.875rem);
  --flow-7: clamp(2rem, 1.8261rem + 0.8696vw, 2.5rem);
  --flow-8: clamp(2.5rem, 2.2826rem + 1.087vw, 3.125rem);
  --flow-9: clamp(3rem, 2.7391rem + 1.3043vw, 3.75rem);
  --flow-10: clamp(4rem, 3.6522rem + 1.7391vw, 5rem);
  --flow-11: clamp(5rem, 4.5652rem + 2.1739vw, 6.25rem);
  --flow-12: clamp(6rem, 5.4783rem + 2.6087vw, 7.5rem);
  --flow-13: clamp(10rem, 9.1304rem + 4.3478vw, 12.5rem);
  --flow-14: clamp(13rem, 11.8696rem + 5.6522vw, 16.25rem);
  --flow-15: clamp(15rem, 13.6957rem + 6.5217vw, 18.75rem);
}

:root {
  --radii-square:var(--flow-2);
  --radii-squirc:var(--flow-4);
  --radii-round:var(--flow-6);
  --radii-circle:var(--flow-12);
}

:root {
  --palette-ink: oklch(12.43% 0.015 47.04 / 100);
  --palette-ink-raw:12.43% 0.015 47.04;
  --palette-paper: oklch(98.18% 0.001 106.42 / 100);
  --palette-paper-raw: 98.18% 0.001 106.42;
  --palette-shade-95:oklch(var(--palette-ink-raw) / .95);
  --palette-shade-90:oklch(var(--palette-ink-raw) / .9);
  --palette-shade-80:oklch(var(--palette-ink-raw) / .8);
  --palette-shade-70:oklch(var(--palette-ink-raw) / .7);
  --palette-shade-60:oklch(var(--palette-ink-raw) / .6);
  --palette-shade-50:oklch(var(--palette-ink-raw) / .5);
  --palette-shade-40:oklch(var(--palette-ink-raw) / .4);
  --palette-shade-30:oklch(var(--palette-ink-raw) / .3);
  --palette-shade-20:oklch(var(--palette-ink-raw) / .2);
  --palette-shade-10:oklch(var(--palette-ink-raw) / .1);
  --palette-shade-05:oklch(var(--palette-ink-raw) / .05);
  --palette-tint-95:oklch(var(--palette-paper-raw) / .95);
  --palette-tint-90:oklch(var(--palette-paper-raw) / .9);
  --palette-tint-80:oklch(var(--palette-paper-raw) / .8);
  --palette-tint-70:oklch(var(--palette-paper-raw) / .7);
  --palette-tint-60:oklch(var(--palette-paper-raw) / .6);
  --palette-tint-50:oklch(var(--palette-paper-raw) / .5);
  --palette-tint-40:oklch(var(--palette-paper-raw) / .4);
  --palette-tint-30:oklch(var(--palette-paper-raw) / .3);
  --palette-tint-20:oklch(var(--palette-paper-raw) / .2);
  --palette-tint-10:oklch(var(--palette-paper-raw) / .1);
  --palette-tint-05:oklch(var(--palette-paper-raw) / .05);
  --palette-ash-100: var(--palette-ink);
  --palette-ash-95: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 5%);
  --palette-ash-90: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 10%);
  --palette-ash-80: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 20%);
  --palette-ash-70: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 30%);
  --palette-ash-60: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 40%);
  --palette-ash-50: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 50%);
  --palette-ash-40: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 60%);
  --palette-ash-30: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 70%);
  --palette-ash-20: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 80%);
  --palette-ash-10: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 90%);
  --palette-ash-05: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 95%);
  --palette-ash-00: var(--palette-paper);
  --palette-cyan-05: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-paper) 90%);
  --palette-cyan-10: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-paper) 80%);
  --palette-cyan-20: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-paper) 60%);
  --palette-cyan-30: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-paper) 40%);
  --palette-cyan-40: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-paper) 20%);
  --palette-cyan-50: oklch(49.13% 0.084 222.18);
  --palette-cyan-60: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-ink) 20%);
  --palette-cyan-70: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-ink) 40%);
  --palette-cyan-80: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-ink) 60%);
  --palette-cyan-90: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-ink) 80%);
  --palette-cyan-95: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-ink) 90%);
  --palette-yellow-05: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-paper) 90%);
  --palette-yellow-10: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-paper) 80%);
  --palette-yellow-20: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-paper) 60%);
  --palette-yellow-30: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-paper) 40%);
  --palette-yellow-40: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-paper) 20%);
  --palette-yellow-50: oklch(68.4% 0.146 67.27);
  --palette-yellow-60: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-ink) 20%);
  --palette-yellow-70: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-ink) 40%);
  --palette-yellow-80: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-ink) 60%);
  --palette-yellow-90: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-ink) 80%);
  --palette-yellow-95: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-ink) 90%);
  --palette-magenta-05: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-paper) 90%);
  --palette-magenta-10: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-paper) 80%);
  --palette-magenta-20: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-paper) 60%);
  --palette-magenta-30: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-paper) 40%);
  --palette-magenta-40: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-paper) 20%);
  --palette-magenta-50: oklch(45.73% 0.158 4.61);
  --palette-magenta-60: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-ink) 20%);
  --palette-magenta-70: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-ink) 40%);
  --palette-magenta-80: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-ink) 60%);
  --palette-magenta-90: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-ink) 80%);
  --palette-magenta-95: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-ink) 90%);
  --palette-green-05: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-paper) 90%);
  --palette-green-10: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-paper) 80%);
  --palette-green-20: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-paper) 60%);
  --palette-green-30: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-paper) 40%);
  --palette-green-40: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-paper) 20%);
  --palette-green-50: oklch(48.52% 0.1297 137.78);
  --palette-green-60: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-ink) 20%);
  --palette-green-70: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-ink) 40%);
  --palette-green-80: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-ink) 60%);
  --palette-green-90: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-ink) 80%);
  --palette-green-95: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-ink) 90%);
  --palette-purple-05: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-paper) 90%);
  --palette-purple-10: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-paper) 80%);
  --palette-purple-20: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-paper) 60%);
  --palette-purple-30: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-paper) 40%);
  --palette-purple-40: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-paper) 20%);
  --palette-purple-50: oklch(41.1% 0.117 290.38);
  --palette-purple-60: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-ink) 20%);
  --palette-purple-70: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-ink) 40%);
  --palette-purple-80: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-ink) 60%);
  --palette-purple-90: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-ink) 80%);
  --palette-purple-95: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-ink) 90%);
  --palette-orange-05: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-paper) 90%);
  --palette-orange-10: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-paper) 80%);
  --palette-orange-20: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-paper) 60%);
  --palette-orange-30: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-paper) 40%);
  --palette-orange-40: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-paper) 20%);
  --palette-orange-50: oklch(54.9% 0.152 35.8);
  --palette-orange-60: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-ink) 20%);
  --palette-orange-70: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-ink) 40%);
  --palette-orange-80: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-ink) 60%);
  --palette-orange-90: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-ink) 80%);
  --palette-orange-95: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-ink) 90%);
}

:root {
  --border-hairline: 0.042rem;
  --border-fine: 0.083rem;
  --border-thin: 0.167rem;
  --border-light: 0.250rem;
  --border-regular: 0.333rem;
  --border-medium: 0.500rem;
  --border-bold: 0.667rem;
  --border-heavy: 0.833rem;
  --border-black: 1.000rem;
  --border-ultra: 1.167rem;
}

* {
  max-inline-size: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-inline-size: none;
}

body {
  color: var(--color-distinct);
  font-family: var(--font-sans);
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

main {
  min-height: 80vh;
}

html[data-theme=dark] body {
  background: url("/assets/png/stardust.png") repeat, var(--background-primary);
  background-attachment: fixed;
}

:root {
  --gutter: var(--rhythm-moderato);
  --icon-color-primary: inherit;
  --icon-color-secondary: currentColor;
}

.wrapper {
  margin-inline: auto;
  max-width: clamp(16rem, var(--wrapper-max-width, 100vw), 80rem);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  position: relative;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, var(--rhythm-moderato));
  justify-content: flex-start;
  align-items: center;
}

.container {
  container-type: inline-size;
}

stack-l {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

stack-l > * + * {
  margin-block-start: var(--rhythm-moderato);
}

box-l {
  display: block;
  padding: var(--rhythm-moderato);
  border-width: var(--border-thin);
  /* ↓ For high contrast mode */
  outline: var(--border-thin) solid transparent;
  outline-offset: calc(var(--border-thin) * -1);
}

.center {
  box-sizing: content-box;
  margin-inline: auto;
  text-align: center;
  max-inline-size: var(--measure);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.flow + .flow {
  padding-right: 6rem;
}

.flow p:first-child {
  margin-top: var(--rhythm-moderato);
}

/* SOURCE: https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:root {
  --rhythm-prestissimo: var(--flow-1);
  --rhythm-presto: var(--flow-2);
  --rhythm-vivace:var(--flow-3);
  --rhythm-allegro:var(--flow-4);
  --rhythm-moderato:var(--flow-5);
  --rhythm-andantino:var(--flow-6);
  --rhythm-andante:var(--flow-7);
  --rhythm-adagio:var(--flow-11);
  --rhythm-largo:var(--flow-13);
  --rhythm-grave:var(--flow-15);
}

.icon {
  display: inline-block;
  flex-shrink: 0;
  width: 1em;
  width: 1.75cap;
  height: 1em;
  height: 1.75cap;
  position: relative;
  top: 0.15em;
  top: 0.3cap;
  fill: var(--color-subtle);
}

.with-icon {
  display: inline-flex;
  align-items: baseline;
}

.with-icon .icon {
  margin-inline-end: 0.3em;
}

:root {
  --link-color: var(--color-subtle);
  --link-deco: var(--color-quiet);
  --link-color-hover: var(--color-distinct);
  --link-deco-hover: var(--color-nuance);
  --link-color-active: var(--color-emphasis);
  --link-deco-active: var(--color-emphasis);
}

a, a:visited {
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-color: var(--link-deco);
  text-underline-offset: var(--border-thin);
  text-decoration-thickness: var(--border-fine);
}
a:not([href*="jonathanstephens.us"]):not([href*=localhost]):not([href^="#"]):not([href^="/"]), a:visited:not([href*="jonathanstephens.us"]):not([href*=localhost]):not([href^="#"]):not([href^="/"]) {
  margin-inline-end: var(--rhythm-vivace);
  padding-inline-end: var(--rhythm-allegro);
}
a:not([href*="jonathanstephens.us"]):not([href*=localhost]):not([href^="#"]):not([href^="/"]):after, a:visited:not([href*="jonathanstephens.us"]):not([href*=localhost]):not([href^="#"]):not([href^="/"]):after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: var(--rhythm-prestissimo);
  mask: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><svg width="100%" height="100%" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M26,28L6,28C4.903,27.999 4.001,27.097 4,26L4,6C4.001,4.903 4.903,4.001 6,4L16,4L16,6L6,6L6,26L26,26L26,16L28,16L28,26C27.999,27.097 27.097,27.999 26,28Z"/><path d="M20,2L20,4L26.586,4L18,12.586L19.414,14L28,5.414L28,12L30,12L30,2L20,2Z"/></svg>');
  transform: translateY(0.25em);
  mask-size: 75%;
  mask-repeat: no-repeat;
  mask-position: bottom;
  background: var(--link-deco);
}
a:hover, a:visited:hover {
  color: var(--link-color-hover);
  text-decoration-color: var(--link-deco-hover);
}
a:hover span.with-icon svg, a:visited:hover span.with-icon svg {
  fill: var(--link-color-hover);
}
a:hover:not([href*="jonathanstephens.us"]):not([href*=localhost]):not([href^="#"]):not([href^="/"]):after, a:visited:hover:not([href*="jonathanstephens.us"]):not([href*=localhost]):not([href^="#"]):not([href^="/"]):after {
  background: var(--link-deco-hover);
}
a:active, a:visited:active {
  color: var(--link-color-active);
  text-decoration-color: var(--link-deco-active);
  position: relative;
  left: 1px;
  top: 1px;
}
a:active:not([href*="jonathanstephens.us"]):not([href*=localhost]):not([href^="#"]):not([href^="/"]):after, a:visited:active:not([href*="jonathanstephens.us"]):not([href*=localhost]):not([href^="#"]):not([href^="/"]):after {
  background: var(--link-deco-active);
  position: relative;
  left: 1px;
}
a:active span.with-icon svg, a:visited:active span.with-icon svg {
  fill: var(--link-color-active);
}
a:focus, a:visited:focus {
  outline: solid var(--border-thin) var(--color-prominent);
  outline-offset: var(--border-thin);
}

:root {
  --weight-text:400;
  --weight-medium:500;
  --weight-semibold:700;
  --weight-bold:800;
  --leading-flat:1;
  --leading-fine:1.15;
  --leading-standard:1.5;
  --leading-loose:1.7;
  --hed-primary:clamp(var(--type-scale-42),1.107rem + 4.048vw,var(--type-scale-76));
  --hed-secondary:clamp(var(--type-scale-32),0.75rem + 3.333vw,var(--type-scale-60));
  --hed-tertiary:clamp(var(--type-scale-28),1.571rem + 0.476vw,var(--type-scale-32));
  --hed-quaternary:clamp(var(--type-scale-20),1.071rem + 0.476vw,var(--type-scale-24));
  --prose:clamp(var(--type-scale-16), 0.8261rem + 0.8696vw, var(--type-scale-20));
  --small: clamp(var(--type-scale-14), 0.786rem + 0.238vw, var(--type-scale-16));
  --measure: 68ch;
  --caption:clamp(var(--type-scale-12),0.661rem + 0.238vw, var(--type-scale-14));
}

h1, h2, h3, h4 {
  font-family: var(--font-serif);
}

h1 {
  font-size: var(--hed-primary);
  color: var(--color-emphasis);
}

h2 {
  font-size: var(--hed-secondary);
  color: var(--color-prominent);
}

h3 {
  font-size: var(--hed-tertiary);
  color: var(--color-distinct);
}

h4 {
  font-size: var(--hed-quaternary);
  color: var(--color-nuance);
}

h5, h6 {
  font-size: var(--prose);
}

h6 {
  font-weight: var(--weight-prose);
  font-style: italic;
}

h1, h2 {
  font-weight: var(--weight-bold);
  line-height: var(--leading-flat);
}

h3, h4 {
  font-weight: var(--weight-medium);
  line-height: var(--leading-fine);
}

h5, h6 {
  line-height: var(--leading-standard);
}

p, li {
  font-size: var(--prose);
  font-weight: var(--weight-text);
  line-height: var(--leading-standard);
}

.byline {
  color: var(--color-prominent);
}

time {
  font-family: var(--font-mono);
}

h2 + p {
  margin: 0;
  padding-block-start: var(--rhythm-allegro);
}

p + p {
  padding-block-start: var(--rhythm-moderato);
}

p + h2 {
  padding-block-start: var(--space-3);
}

p + time {
  color: var(--color-subtle);
}

article > .body {
  margin-block-start: var(--flow-space-9);
}

article.default h2 {
  margin-block-start: var(--rhythm-andante);
  width: 100%;
  padding-block: var(--rhythm-moderato);
  border-top: var(--border-regular) solid var(--border-color-distinct);
  border-bottom: var(--border-regular) solid var(--border-color-distinct);
}

article h3 {
  margin-block-start: var(--rhythm-andante);
  margin-block-end: var(--rhythm-moderato);
}

strong {
  font-weight: var(--weight-semibold);
}

article.default h1 {
  padding-block-end: var(--rhythm-andante);
}

:root {
  color-scheme: light;
  --background-primary: var(--palette-ash-05);
  --background-secondary: var(--palette-ash-10);
  --background-tertiary: var(--palette-ash-20);
  --background-primary-inverse:var(--palette-ash-95);
  --background-secondary-inverse: var(--palette-ash-90);
  --background-tertiary-inverse: var(--palette-ash-80);
  --color-quiet: var(--palette-ash-40);
  --color-subtle: var(--palette-ash-60);
  --color-nuance: var(--palette-ash-70);
  --color-distinct: var(--palette-ash-80);
  --color-prominent: var(--palette-ash-90);
  --color-emphasis: var(--palette-ash-100);
  --border-color-subtle: var(--palette-ash-10);
  --border-color-nuance: var(--palette-ash-20);
  --border-color-distinct: var(--palette-ash-40);
  --border-color-prominent: var(--palette-ash-60);
  --border-color-emphasis: var(--palette-ash-80);
}

html[data-theme=dark] {
  color-scheme: dark;
  --background-primary: var(--palette-ash-95);
  --background-secondary: var(--palette-ash-90);
  --background-tertiary: var(--palette-ash-80);
  --background-primary-inverse:var(--palette-ash-05);
  --background-secondary-inverse: var(--palette-ash-10);
  --background-tertiary-inverse: var(--palette-ash-20);
  --color-quiet: var(--palette-ash-60);
  --color-subtle: var(--palette-ash-40);
  --color-nuance: var(--palette-ash-30);
  --color-distinct: var(--palette-ash-10);
  --color-prominent: var(--palette-ash-05);
  --color-emphasis: var(--palette-ash-00);
  --border-color-subtle: var(--palette-ash-90);
  --border-color-nuance: var(--palette-ash-80);
  --border-color-distinct: var(--palette-ash-60);
  --border-color-prominent: var(--palette-ash-40);
  --border-color-emphasis: var(--palette-ash-20);
  background: url("/assets/png/stardust.png") repeat, var(--background-primary);
}

.breadcrumb ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  --space: 0;
  max-inline-size: none;
}
.breadcrumb li {
  padding-block: var(--rhythm-vivace);
}
.breadcrumb a {
  text-decoration: none;
  font-size: var(--hed-tertiary);
}
.breadcrumb a:hover {
  color: var(--color-emphasis);
  text-decoration: underline;
}
.breadcrumb li::after {
  content: "";
  display: inline-block;
  padding: 0 var(--flow-3);
  display: inline-block;
  height: var(--type-scale-20);
  width: var(--type-scale-20);
  position: relative;
  background: var(--color-nuance);
  mask-image: url("/assets/svg/icons/arrow-right.svg");
  mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-size: var(--type-scale-20);
  mask-position: center;
  margin-inline-end: var(--rhythm-presto);
  margin-inline-start: var(--rhythm-presto);
}
.breadcrumb li:first-of-type {
  font-weight: var(--weight-bold);
}
.breadcrumb li:last-of-type::after {
  content: "";
  background: transparent;
}
.breadcrumb li:nth-last-child(2) a {
  color: var(--color-nuance);
}
.breadcrumb li:nth-last-child(2)::after {
  background: var(--color-nuance);
}
.breadcrumb li:nth-last-child(3) a {
  color: var(--color-subtle);
}
.breadcrumb li:nth-last-child(3)::after {
  background: var(--color-subtle);
}
.breadcrumb li:nth-last-child(4) a {
  color: var(--color-quiet);
}
.breadcrumb li:nth-last-child(4)::after {
  background: var(--color-quiet);
}
.breadcrumb [aria-current=page] {
  color: var(--color-distinct);
}

.color-mode-toggle {
  position: relative;
}

.color-mode-toggle label {
  position: relative;
  display: block;
  width: 76px;
  height: 36px;
  background-color: var(--background-tertiary-inverse);
  border-radius: 18px;
  cursor: pointer;
}

.color-mode-toggle input {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  transition: 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 6px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--background-tertiary-inverse);
  transition: 0.3s;
}

/* Light mode (unchecked) styles */
.color-mode-toggle input:not(:checked) + .slider::before {
  box-shadow: inset 11px -2px 0px 0px var(--background-tertiary);
}

/* Dark mode (checked) styles */
.color-mode-toggle input:checked + .slider {
  background-color: var(--background-tertiary-inverse);
}

.color-mode-toggle input:checked + .slider::before {
  transform: translateX(40px);
  background-color: var(--background-tertiary);
  box-shadow: none;
}

.color-mode-toggle label:focus-within {
  outline: 2px solid blue;
  outline-offset: 3px;
}

/* https://piccalil.li/blog/how-i-build-a-button-component/ */
.button {
  --button-bg: var(--background-primary);
  --button-color: var(--color-distinct);
  --button-hover-bg: var(--background-secondary);
  --button-hover-color: var(--color-prominent);
  --button-border-width: var(--border-thin);
  --button-border-style: solid;
  --button-border-color: var(--border-color-nuance);
  --button-hover-border-color: var(--border-color-prominent);
  --button-radius: var(--radii-square);
  --button-outline-color: var(--color-prominent);
  --button-outline-style: solid;
  --button-outline-width: var(--border-thin);
  display: inline-flex;
  align-items: center;
  gap: var(--button-gap, var(--flow-5));
  padding: var(--button-padding, var(--flow-3) var(--flow-5));
  background: var(--button-bg);
  color: var(--button-color);
  border-width: var(--button-border-width);
  border-style: var(--button-border-style);
  border-color: var(--button-border-color);
  border-radius: var(--button-radius);
  text-decoration: none;
  font-weight: var(--button-font-weight, var(--weight-medium));
  font-size: var(--button-font-size, inherit);
  letter-spacing: 0.05ch;
  line-height: var(--leading-fine); /* Set or buttons will be different sizes (<a>/<button>) */
  cursor: pointer;
}

.button svg {
  height: var(--button-icon-size, 1.2cap);
  width: auto;
  flex: none;
}

/* Hover/focus/active */
.button:hover {
  background: var(--button-hover-bg);
  color: var(--button-hover-color);
  border-color: var(--button-hover-border-color);
}

.button:focus {
  outline-width: var(--button-outline-width, var(--button-border-width));
  outline-style: var(--button-outline-style, var(--button-border-style));
  outline-color: var(--button-outline-color, var(--button-border-color));
  outline-offset: var(--button-outline-offset, calc(var(--button-border-width) * 1));
}

.button:active {
  transform: scale(99%);
}

/* Variants */

/* Ghost buttons */

/* Radius variants */

.tags {
  font-size: var(--caption);
  font-family: var(--font-mono);
  max-inline-size: none;
  gap: var(--rhythm-vivace);
  justify-content: flex-start;
  margin-inline-end: calc(-1 * var(--rhythm-allegro));
}
.tags .icon {
  fill: var(--color-distinct);
}

.journal .tags {
  justify-content: flex-end;
}

.p-category.button {
  padding: var(--rhythm-presto) var(--rhythm-allegro);
  border-radius: var(--radii-circle);
  font-size: var(--caption);
  font-family: var(--font-mono);
  position: relative;
  bottom: -2px;
}
.p-category.button:active {
  background: var(--background-primary-inverse);
  color: var(--background-primary);
}

figure {
  margin: 0;
  padding-block: var(--rhythm-andante);
  mix-blend-mode: luminosity;
}
figure:hover {
  mix-blend-mode: normal;
}

body > header {
  padding: var(--flow-10) 0 var(--flow-15) 0;
  container: site-header/inline-size;
}

header .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}
header .wrapper .breadcrumb {
  order: 0;
  flex: 1 0 auto;
  align-self: auto;
}
header .wrapper .color-mode-toggle {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

@container site-header (width < 700px) {
  header .wrapper {
    flex-wrap: wrap;
    gap: var(--flow-5);
  }
  header .wrapper .breadcrumb {
    order: 2;
    width: 100%;
  }
  header .wrapper .color-mode-toggle {
    order: 1;
  }
}
body > footer {
  background: url("/assets/png/rice-paper-2.png") repeat, var(--background-secondary);
  margin: var(--flow-10) 0 0 0;
  padding: var(--flow-10) var(--flow-3);
  background-attachment: fixed;
}
body > footer .wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--rhythm-moderato);
}
body > footer .social-links {
  max-inline-size: var(--measure);
}
body > footer .social-links ul[role=list] {
  padding: 0;
}
body > footer .social-links li {
  font-size: var(--small);
}
body > footer nav[role=navigation] ul {
  list-style-type: none;
  padding: 0;
  display: inline-flex;
  gap: var(--rhythm-moderato);
}
body > footer #theme-picker {
  align-items: center;
}
body > footer .final-info {
  display: flex;
  flex-direction: column;
  gap: var(--flow-6);
  color: var(--color-nuance);
}
body > footer .final-info a {
  text-decoration: none;
  color: var(--color-nuance);
}
body > footer .final-info a:hover, body > footer .final-info a:hover span {
  color: var(--color-distinct);
  text-decoration: underline;
  text-decoration-color: var(--color-subtle);
}
body > footer .final-info a:active {
  color: var(--color-emphasis);
}

html[data-theme=dark] body > footer {
  mix-blend-mode: lighten;
  background: url("/assets/png/stardust.png") repeat, var(--background-secondary);
  background-size: 50%;
  box-shadow: var(--rhythm-presto) var(--rhythm-allegro) var(--rhythm-andante) var(--rhythm-moderato) var(--background-secondary);
}

.last-updated .h-card {
  margin: 0;
  color: var(--color-nuance);
}
.last-updated .h-card a, .last-updated .h-card a:visited, .last-updated .h-card .u-email {
  color: var(--color-nuance);
}
.last-updated .h-card time {
  font-family: var(--font-sans);
}

footer .h-entry, footer .h-card {
  font-size: var(--caption);
}

.dt-updated span {
  align-items: baseline;
  color: var(--color-nuance);
}

.journal h2 {
  font-size: var(--hed-tertiary);
  line-height: var(--leading-fine);
  color: var(--color-distinct);
  font-weight: var(--weight-semibold);
  text-wrap: balance;
  padding-block-start: var(--rhythm-presto);
}
.journal article a {
  text-decoration: none;
}
.journal article a:hover h2, .journal article a:hover p, .journal article a:hover time, .journal article a:active h2, .journal article a:active p, .journal article a:active time {
  color: var(--link-hover);
}

.journal article {
  --measure: 80ch;
}
.journal article:hover .meta, .journal article:active .meta {
  border-top: var(--border-fine) dashed var(--border-color-emphasis);
  border-bottom: var(--border-fine) dashed var(--border-color-emphasis);
}
.journal article .meta {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: baseline;
  font-family: var(--font-mono);
  font-size: var(--small);
  padding-block: var(--rhythm-vivace);
  margin-block-end: var(--rhythm-vivace);
  border-top: var(--border-fine) dashed var(--border-color-distinct);
  border-bottom: var(--border-fine) dashed var(--border-color-distinct);
}
.journal article .text-stats {
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
  justify-self: flex-end;
  font-size: var(--small);
  color: var(--color-subtle);
}
.journal article .text-stats dt, .journal article .text-stats dd {
  text-color: var(--color-subtle);
}
.journal article time {
  display: block;
  font-weight: var(--weight-semibold);
  letter-spacing: 5%;
  text-transform: uppercase;
}
.journal article .dek {
  color: var(--color-subtle);
}

.links article {
  --measure: 80ch;
}
.links article .meta {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--gutter);
  align-items: baseline;
}

article header {
  max-inline-size: 100%;
}
article .on-at-in {
  border-top: var(--border-fine) dashed var(--color-quiet);
  border-bottom: var(--border-fine) solid var(--color-quiet);
  padding: var(--rhythm-allegro) 0;
  container-type: inline-size;
  container-name: on-at-in;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  font-family: var(--font-mono);
  font-size: var(--small);
  color: var(--color-nuance);
  margin-bottom: var(--rhythm-allegro);
}
article .on-at-in .with-icon .icon {
  margin-inline-end: var(--rhythm-presto);
  top: 4px;
  fill: var(--color-nuance);
}
article .prose {
  box-sizing: content-box;
  text-align: left;
  max-inline-size: var(--measure);
  max-width: var(--measure);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
article footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: baseline;
  color: var(--color-nuance);
  border-bottom: var(--border-fine) solid var(--color-quiet);
  border-top: var(--border-fine) dashed var(--color-quiet);
  padding: var(--rhythm-allegro) 0;
  margin-top: var(--rhythm-andante);
}
article footer .on-at-in {
  font-size: var(--small);
}
article footer .with-icon .icon {
  fill: var(--color-distinct);
  margin-inline-end: var(--flow-3);
}
article .written-url {
  font-family: var(--font-mono);
  font-size: var(--small);
  font-weight: bolder;
}

@media (min-width: 320px) and (max-width: 632px) {
  article .on-at-in {
    flex-direction: column;
    gap: var(--rhythm-presto);
  }
}
.day-group .meta {
  text-align: right;
}

.home h2 {
  padding-bottom: var(--flow-10);
}
.home .splash p:first-of-type::first-line {
  font-weight: bolder;
  padding-bottom: var(--flow-8);
}
.home .splash p {
  max-width: 50ch;
}
.home .splash .cluster {
  flex-direction: column;
  align-items: flex-start;
  padding-top: var(--flow-3);
}

/*# sourceMappingURL=main.css.map */