/* https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */

@font-face {
  font-display: swap;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400 500 700 800;
  src: url(../fonts/ibm-plex-sans/woff2/IBMPlexSans-Text.woff2) format("woff2"), url(../fonts/ibm-plex-sans/woff2/IBMPlexSans-Medium.woff2) format("woff2"), url(../fonts/ibm-plex-sans/woff2/SemiBold.woff2) format("woff2"), url(../fonts/ibm-plex-sans/woff2/Bold.woff2) format("woff2");
}
:root {
  --font-sans:"IBM Plex Sans", sans-serif;
  --type-scale-8: 0.5rem;
  --type-scale-12: 0.75rem;
  --type-scale-14: 0.875rem;
  --type-scale-16: 1rem;
  --type-scale-18: 1.125rem;
  --type-scale-20: 1.25rem;
  --type-scale-24: 1.5rem;
  --type-scale-28: 1.75rem;
  --type-scale-32: 2rem;
  --type-scale-36: 2.25rem;
  --type-scale-42: 2.625rem;
  --type-scale-48: 3rem;
  --type-scale-54: 3.375rem;
  --type-scale-60: 3.75rem;
  --type-scale-68: 4.25rem;
  --type-scale-76: 4.75rem;
  --type-scale-84: 5.25rem;
  --type-scale-92: 5.75rem;
  --type-scale-102: 6.375rem;
  --type-scale-112: 7rem;
  --type-scale-122: 7.625rem;
  --type-scale-132: 8.25rem;
  --type-scale-144: 9rem;
}

:root {
  --flow-space-1: 0.125rem;
  --flow-space-2: 0.25rem;
  --flow-space-3: 0.5rem;
  --flow-space-4: 0.75rem;
  --flow-space-5: 1rem;
  --flow-space-6: 1.5rem;
  --flow-space-7: 2rem;
  --flow-space-8: 2.5rem;
  --flow-space-9: 3rem;
  --flow-space-10: 4rem;
  --flow-space-11: 5rem;
  --flow-space-12: 6rem;
  --flow-space-13: 10rem;
}

:root {
  --radii-square:var(--flow-space-2);
  --radii-squirc:var(--flow-space-4);
  --radii-round:var(--flow-space-6);
  --radii-circle:var(--flow-space-12);
}

:root {
  --palette-ink: oklch(12.43% 0.015 47.04 / 100);
  --palette-ink-raw:12.43% 0.015 47.04;
  --palette-paper: oklch(98.18% 0.001 106.42 / 100);
  --palette-paper-raw: 98.18% 0.001 106.42;
  --palette-shade-95:oklch(var(--palette-ink-raw) / .95);
  --palette-shade-90:oklch(var(--palette-ink-raw) / .9);
  --palette-shade-80:oklch(var(--palette-ink-raw) / .8);
  --palette-shade-70:oklch(var(--palette-ink-raw) / .7);
  --palette-shade-60:oklch(var(--palette-ink-raw) / .6);
  --palette-shade-50:oklch(var(--palette-ink-raw) / .5);
  --palette-shade-40:oklch(var(--palette-ink-raw) / .4);
  --palette-shade-30:oklch(var(--palette-ink-raw) / .3);
  --palette-shade-20:oklch(var(--palette-ink-raw) / .2);
  --palette-shade-10:oklch(var(--palette-ink-raw) / .1);
  --palette-shade-05:oklch(var(--palette-ink-raw) / .05);
  --palette-tint-95:oklch(var(--palette-paper-raw) / .95);
  --palette-tint-90:oklch(var(--palette-paper-raw) / .9);
  --palette-tint-80:oklch(var(--palette-paper-raw) / .8);
  --palette-tint-70:oklch(var(--palette-paper-raw) / .7);
  --palette-tint-60:oklch(var(--palette-paper-raw) / .6);
  --palette-tint-50:oklch(var(--palette-paper-raw) / .5);
  --palette-tint-40:oklch(var(--palette-paper-raw) / .4);
  --palette-tint-30:oklch(var(--palette-paper-raw) / .3);
  --palette-tint-20:oklch(var(--palette-paper-raw) / .2);
  --palette-tint-10:oklch(var(--palette-paper-raw) / .1);
  --palette-tint-05:oklch(var(--palette-paper-raw) / .05);
  --palette-ash-100: var(--palette-ink);
  --palette-ash-95: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 5%);
  --palette-ash-90: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 10%);
  --palette-ash-80: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 20%);
  --palette-ash-70: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 30%);
  --palette-ash-60: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 40%);
  --palette-ash-50: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 50%);
  --palette-ash-40: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 60%);
  --palette-ash-30: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 70%);
  --palette-ash-20: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 80%);
  --palette-ash-10: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 90%);
  --palette-ash-05: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 95%);
  --palette-ash-00: var(--palette-paper);
  --palette-cyan-05: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-paper) 90%);
  --palette-cyan-10: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-paper) 80%);
  --palette-cyan-20: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-paper) 60%);
  --palette-cyan-30: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-paper) 40%);
  --palette-cyan-40: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-paper) 20%);
  --palette-cyan-50: oklch(49.13% 0.084 222.18);
  --palette-cyan-60: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-ink) 20%);
  --palette-cyan-70: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-ink) 40%);
  --palette-cyan-80: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-ink) 60%);
  --palette-cyan-90: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-ink) 80%);
  --palette-cyan-95: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-ink) 90%);
  --palette-yellow-05: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-paper) 90%);
  --palette-yellow-10: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-paper) 80%);
  --palette-yellow-20: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-paper) 60%);
  --palette-yellow-30: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-paper) 40%);
  --palette-yellow-40: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-paper) 20%);
  --palette-yellow-50: oklch(68.4% 0.146 67.27);
  --palette-yellow-60: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-ink) 20%);
  --palette-yellow-70: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-ink) 40%);
  --palette-yellow-80: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-ink) 60%);
  --palette-yellow-90: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-ink) 80%);
  --palette-yellow-95: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-ink) 90%);
  --palette-magenta-05: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-paper) 90%);
  --palette-magenta-10: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-paper) 80%);
  --palette-magenta-20: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-paper) 60%);
  --palette-magenta-30: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-paper) 40%);
  --palette-magenta-40: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-paper) 20%);
  --palette-magenta-50: oklch(45.73% 0.158 4.61);
  --palette-magenta-60: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-ink) 20%);
  --palette-magenta-70: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-ink) 40%);
  --palette-magenta-80: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-ink) 60%);
  --palette-magenta-90: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-ink) 80%);
  --palette-magenta-95: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-ink) 90%);
  --palette-green-05: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-paper) 90%);
  --palette-green-10: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-paper) 80%);
  --palette-green-20: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-paper) 60%);
  --palette-green-30: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-paper) 40%);
  --palette-green-40: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-paper) 20%);
  --palette-green-50: oklch(48.52% 0.1297 137.78);
  --palette-green-60: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-ink) 20%);
  --palette-green-70: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-ink) 40%);
  --palette-green-80: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-ink) 60%);
  --palette-green-90: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-ink) 80%);
  --palette-green-95: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-ink) 90%);
  --palette-purple-05: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-paper) 90%);
  --palette-purple-10: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-paper) 80%);
  --palette-purple-20: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-paper) 60%);
  --palette-purple-30: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-paper) 40%);
  --palette-purple-40: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-paper) 20%);
  --palette-purple-50: oklch(41.1% 0.117 290.38);
  --palette-purple-60: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-ink) 20%);
  --palette-purple-70: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-ink) 40%);
  --palette-purple-80: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-ink) 60%);
  --palette-purple-90: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-ink) 80%);
  --palette-purple-95: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-ink) 90%);
  --palette-orange-05: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-paper) 90%);
  --palette-orange-10: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-paper) 80%);
  --palette-orange-20: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-paper) 60%);
  --palette-orange-30: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-paper) 40%);
  --palette-orange-40: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-paper) 20%);
  --palette-orange-50: oklch(54.9% 0.152 35.8);
  --palette-orange-60: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-ink) 20%);
  --palette-orange-70: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-ink) 40%);
  --palette-orange-80: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-ink) 60%);
  --palette-orange-90: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-ink) 80%);
  --palette-orange-95: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-ink) 90%);
}

* {
  max-inline-size: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-inline-size: none;
}

body {
  background: var(--background-primary);
  color: var(--color-distinct);
  font-family: var(--font-sans);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

p, li {
  font-size: var(--prose);
  font-weight: var(--font-normal);
  line-height: var(--leading-standard);
}

p + p {
  padding: var(--flow-space-5) 0;
}

h1 {
  font-size: var(--hed-primary);
  font-weight: var(--font-bold);
  line-height: var(--leading-loose);
}

h2 {
  font-size: var(--hed-secondary);
  font-weight: var(--font-medium);
  line-height: var(--leading-loose);
}

h3 {
  font-size: var(--hed-tertiary);
  font-weight: var(--font-medium);
  line-height: var(--leading-loose);
}

h4 {
  font-size: var(--hed-quaternary);
  font-weight: var(--font-normal);
  line-height: var(--leading-loose);
}

a, a:visited {
  color: var(--color-subtle);
  text-decoration: underline;
  text-decoration-color: var(--color-quiet);
  text-underline-offset: var(--flow-space-1);
}
a:hover, a:visited:hover {
  color: var(--color-distinct);
  text-decoration: none;
}
a:active, a:visited:active {
  color: var(--color-emphasis);
  position: relative;
  left: 1px;
  top: 1px;
}
a:focus, a:visited:focus {
  outline: solid 1px var(--color-prominent);
  outline-offset: 1px;
}

.icon {
  width: 0.75em;
  width: 1cap;
  height: 0.75em;
  height: 1cap;
  margin-inline-end: var(--flow-space-3);
}

footer {
  background-color: rebeccapurple;
}

:root {
  --gutter: var(--flow-space-5);
}

.wrapper {
  margin-inline: auto;
  max-width: clamp(16rem, var(--wrapper-max-width, 100vw), 80rem);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  position: relative;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, var(--flow-space-5));
  justify-content: flex-start;
  align-items: center;
}

:root {
  --font-normal:400;
  --font-medium:500;
  --font-bold:700;
  --font-strong:800;
  --leading-flat:1;
  --leading-fine:1.15;
  --leading-standard:1.5;
  --leading-loose:1.7;
  --hed-primary:clamp(var(--type-scale-42),5rem,var(--type-scale-76));
  --hed-secondary:clamp(var(--type-scale-32),100%,var(--type-scale-60));
  --hed-tertiary:clamp(var(--type-scale-28),100%,var(--type-scale-32));
  --hed-quaternary:clamp(var(--type-scale-20),100%,var(--type-scale-34));
  --prose:clamp(var(--type-scale-16), 0.8261rem + 0.8696vw, var(--type-scale-20));
  --measure:60ch;
}

html:has(input[name=theme][value=light]:checked) {
  color-scheme: light;
  --background-primary: var(--palette-ash-00);
  --background-secondary: var(--palette-ash-05);
  --background-tertiary: var(--palette-ash-10);
  --color-quiet: var(--palette-ash-40);
  --color-subtle: var(--palette-ash-60);
  --color-nuance: var(--palette-ash-70);
  --color-distinct: var(--palette-ash-80);
  --color-prominent: var(--palette-ash-90);
  --color-emphasis: var(--palette-ash-100);
  --border-subtle: var(--palette-ash-10);
  --border-nuance: var(--palette-ash-20);
  --border-distinct: var(--palette-ash-40);
  --border-prominent: var(--palette-ash-60);
  --border-emphasis: var(--palette-ash-80);
}

html:has(input[name=theme][value=dark]:checked) {
  color-scheme: dark;
  --background-primary: var(--palette-ash-100);
  --background-secondary: var(--palette-ash-90);
  --background-tertiary: var(--palette-ash-80);
  --color-quiet: var(--palette-ash-60);
  --color-subtle: var(--palette-ash-40);
  --color-nuance: var(--palette-ash-30);
  --color-distinct: var(--palette-ash-10);
  --color-prominent: var(--palette-ash-05);
  --color-emphasis: var(--palette-ash-00);
  --border-subtle: var(--palette-ash-90);
  --border-nuance: var(--palette-ash-80);
  --border-distinct: var(--palette-ash-60);
  --border-prominent: var(--palette-ash-40);
  --border-emphasis: var(--palette-ash-20);
}

@media (prefers-color-scheme: dark) {
  html:has(input[name=theme][value=auto]:checked) {
    color-scheme: dark;
    --background-primary: var(--palette-ash-100);
    --background-secondary: var(--palette-ash-90);
    --background-tertiary: var(--palette-ash-80);
    --color-quiet: var(--palette-ash-60);
    --color-subtle: var(--palette-ash-40);
    --color-nuance: var(--palette-ash-30);
    --color-distinct: var(--palette-ash-10);
    --color-prominent: var(--palette-ash-05);
    --color-emphasis: var(--palette-ash-00);
    --border-subtle: var(--palette-ash-90);
    --border-nuance: var(--palette-ash-80);
    --border-distinct: var(--palette-ash-60);
    --border-prominent: var(--palette-ash-40);
    --border-emphasis: var(--palette-ash-20);
  }
}
.breadcrumb ol {
  padding: var(--flow-space-10) 0 var(--flow-space-13) 0;
  margin: 0;
  list-style-type: none;
  --space: 0;
}
.breadcrumb a {
  text-decoration: none;
}
.breadcrumb a:hover {
  color: var(--color-emphasis);
  text-decoration: underline;
}
.breadcrumb li::after {
  content: "/";
  display: inline-block;
  padding: 0 var(--flow-space-3);
}
.breadcrumb li:last-of-type::after {
  content: "";
}
.breadcrumb li:nth-last-child(2) a {
  color: var(--color-distinct);
}
.breadcrumb li:nth-last-child(3) a {
  color: var(--color-nuance);
}
.breadcrumb li:nth-last-child(4) a {
  color: var(--color-subtle);
}
.breadcrumb [aria-current=page] {
  color: var(--color-emphasis);
  font-weight: var(--font-strong);
}
.breadcrumb [aria-current=page]::after {
  content: "";
}

#theme-picker {
  display: flex;
  justify-content: flex-end;
  gap: var(--flow-space-5);
  align-items: baseline;
}
#theme-picker .header {
  font-weight: var(--font-medium);
}
#theme-picker .options {
  display: flex;
  flex-direction: row;
  gap: var(--flow-space-5);
  align-items: baseline;
  box-sizing: content-box;
}
#theme-picker input[type=radio] {
  opacity: 0;
  position: fixed;
  width: 0;
}
#theme-picker label {
  display: inline-block;
  padding: var(--flow-space-2) var(--flow-space-5);
  font-family: sans-serif, Arial;
  font-size: var(--type-scale-16);
  border: 1px solid var(--border-subtle);
  color: var(--color-subtle);
  border-radius: var(--radii-square);
}
#theme-picker label:hover {
  background-color: var(--background-secondary);
  color: var(--color-distinct);
  border: 1px solid var(--border-distinct);
  cursor: pointer;
}
#theme-picker input[type=radio]:focus + label {
  border: 1px solid var(--border-prominent);
}
#theme-picker input[type=radio]:checked + label {
  background-color: var(--background-tertiary);
  color: var(--color-distinct);
  border-color: var(--border-nuance);
}

/* https://piccalil.li/blog/how-i-build-a-button-component/ */
.button {
  --button-bg: var(--background-primary);
  --button-color: var(--color-distinct);
  --button-hover-bg: var(--background-secondary);
  --button-hover-color: var(--color-distinct);
  --button-border-width: 2px;
  --button-border-style: solid;
  --button-border-color: var(--border-nuance);
  --button-hover-border-color: var(--border-distinct);
  --button-radius: var(--radii-square);
  display: inline-flex;
  align-items: center;
  gap: var(--button-gap, var(--flow-space-5));
  padding: var(--button-padding, var(--flow-space-3) var(--flow-space-5));
  background: var(--button-bg);
  color: var(--button-color);
  border-width: var(--button-border-width);
  border-style: var(--button-border-style);
  border-color: var(--button-border-color);
  border-radius: var(--button-radius);
  text-decoration: none;
  font-weight: var(--button-font-weight, var(--font-medium));
  font-size: var(--button-font-size, inherit);
  letter-spacing: 0.05ch;
  line-height: var(--leading-fine); /* Set or buttons will be different sizes (<a>/<button>) */
  cursor: pointer;
}

.button svg {
  height: var(--button-icon-size, 1.2cap);
  width: auto;
  flex: none;
}

/* Hover/focus/active */
.button:hover {
  background: var(--button-hover-bg);
  color: var(--button-hover-color);
  border-color: var(--button-hover-border-color);
}

.button:focus {
  outline-width: var(--button-outline-width, var(--button-border-width));
  outline-style: var(--button-outline-style, var(--button-border-style));
  outline-color: var(--button-outline-color, var(--button-border-color));
  outline-offset: var(--button-outline-offset, calc(var(--button-border-width) * 2));
}

.button:active {
  transform: scale(99%);
}

/* Variants */

/* Ghost buttons */

/* Radius variants */

.home h2 {
  padding-bottom: var(--flow-space-10);
}
.home .splash p:first-of-type::first-line {
  font-weight: bolder;
  padding-bottom: var(--flow-space-8);
}
.home .splash p {
  max-width: 50ch;
}

/*# sourceMappingURL=main.css.map */