@charset "UTF-8";
/* https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
  margin-block-start: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
  margin: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */

@font-face {
  font-display: swap;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400 500 700 800;
  src: url(../fonts/ibm-plex-sans/woff2/IBMPlexSans-Text.woff2) format("woff2"), url(../fonts/ibm-plex-sans/woff2/IBMPlexSans-Text.woff) format("woff"), url(../fonts/ibm-plex-sans/woff2/IBMPlexSans-Medium.woff2) format("woff2"), url(../fonts/ibm-plex-sans/woff2/IBMPlexSans-Medium.woff) format("woff"), url(../fonts/ibm-plex-sans/woff2/IBMPlexSans-Semibold.woff2) format("woff2"), url(../fonts/ibm-plex-sans/woff2/IBMPlexSans-Semibold.woff) format("woff"), url(../fonts/ibm-plex-sans/woff2/IBMPlexSans-Bold.woff2) format("woff2"), url(../fonts/ibm-plex-sans/woff2/IBMPlexSans-Bold.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400 500 700 800;
  src: url(../fonts/ibm-plex-mono/woff2/IBMPlexMono-Text.woff2) format("woff2"), url(../fonts/ibm-plex-mono/woff2/IBMPlexMono-Text.woff) format("woff"), url(../fonts/ibm-plex-mono/woff2/IBMPlexMono-Medium.woff2) format("woff2"), url(../fonts/ibm-plex-mono/woff2/IBMPlexMono-Medium.woff) format("woff"), url(../fonts/ibm-plex-mono/woff2/IBMPlexMono-Semibold.woff2) format("woff2"), url(../fonts/ibm-plex-mono/woff2/IBMPlexMono-Semibold.woff) format("woff"), url(../fonts/ibm-plex-mono/woff2/IBMPlexMono-Bold.woff2) format("woff2"), url(../fonts/ibm-plex-mono/woff2/IBMPlexMono-Bold.woff) format("woff");
}
:root {
  --font-sans:"IBM Plex Sans", sans-serif;
  --font-mono:"IBM Plex Mono", sans-serif;
  --type-scale-2: 0.125rem;
  --type-scale-4: 0.25rem;
  --type-scale-8: 0.5rem;
  --type-scale-12: 0.75rem;
  --type-scale-14: 0.875rem;
  --type-scale-16: 1rem;
  --type-scale-18: 1.125rem;
  --type-scale-20: 1.25rem;
  --type-scale-24: 1.5rem;
  --type-scale-28: 1.75rem;
  --type-scale-32: 2rem;
  --type-scale-36: 2.25rem;
  --type-scale-42: 2.625rem;
  --type-scale-48: 3rem;
  --type-scale-54: 3.375rem;
  --type-scale-60: 3.75rem;
  --type-scale-68: 4.25rem;
  --type-scale-76: 4.75rem;
  --type-scale-84: 5.25rem;
  --type-scale-92: 5.75rem;
  --type-scale-102: 6.375rem;
  --type-scale-112: 7rem;
  --type-scale-122: 7.625rem;
  --type-scale-132: 8.25rem;
  --type-scale-144: 9rem;
}

:root {
  --flow-space-1: 0.125rem;
  --flow-space-2: 0.25rem;
  --flow-space-3: 0.5rem;
  --flow-space-4: 0.75rem;
  --flow-space-5: 1rem;
  --flow-space-6: 1.5rem;
  --flow-space-7: 2rem;
  --flow-space-8: 2.5rem;
  --flow-space-9: 3rem;
  --flow-space-10: 4rem;
  --flow-space-11: 5rem;
  --flow-space-12: 6rem;
  --flow-space-13: 10rem;
  --flow-space-14: 13rem;
  --flow-space-15: 15rem;
  --space-1: 0.125em;
  --space-2: 0.25em;
  --space-3: 0.5em;
  --space-4: 0.75em;
  --space-5: 1em;
  --space-6: 1.5em;
  --space-7: 2em;
  --space-8: 2.5em;
  --space-9: 3em;
  --space-10: 4em;
  --space-11: 5em;
  --space-12: 6em;
  --space-13: 10em;
}

:root {
  --radii-square:var(--flow-space-2);
  --radii-squirc:var(--flow-space-4);
  --radii-round:var(--flow-space-6);
  --radii-circle:var(--flow-space-12);
}

:root {
  --palette-ink: oklch(12.43% 0.015 47.04 / 100);
  --palette-ink-raw:12.43% 0.015 47.04;
  --palette-paper: oklch(98.18% 0.001 106.42 / 100);
  --palette-paper-raw: 98.18% 0.001 106.42;
  --palette-shade-95:oklch(var(--palette-ink-raw) / .95);
  --palette-shade-90:oklch(var(--palette-ink-raw) / .9);
  --palette-shade-80:oklch(var(--palette-ink-raw) / .8);
  --palette-shade-70:oklch(var(--palette-ink-raw) / .7);
  --palette-shade-60:oklch(var(--palette-ink-raw) / .6);
  --palette-shade-50:oklch(var(--palette-ink-raw) / .5);
  --palette-shade-40:oklch(var(--palette-ink-raw) / .4);
  --palette-shade-30:oklch(var(--palette-ink-raw) / .3);
  --palette-shade-20:oklch(var(--palette-ink-raw) / .2);
  --palette-shade-10:oklch(var(--palette-ink-raw) / .1);
  --palette-shade-05:oklch(var(--palette-ink-raw) / .05);
  --palette-tint-95:oklch(var(--palette-paper-raw) / .95);
  --palette-tint-90:oklch(var(--palette-paper-raw) / .9);
  --palette-tint-80:oklch(var(--palette-paper-raw) / .8);
  --palette-tint-70:oklch(var(--palette-paper-raw) / .7);
  --palette-tint-60:oklch(var(--palette-paper-raw) / .6);
  --palette-tint-50:oklch(var(--palette-paper-raw) / .5);
  --palette-tint-40:oklch(var(--palette-paper-raw) / .4);
  --palette-tint-30:oklch(var(--palette-paper-raw) / .3);
  --palette-tint-20:oklch(var(--palette-paper-raw) / .2);
  --palette-tint-10:oklch(var(--palette-paper-raw) / .1);
  --palette-tint-05:oklch(var(--palette-paper-raw) / .05);
  --palette-ash-100: var(--palette-ink);
  --palette-ash-95: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 5%);
  --palette-ash-90: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 10%);
  --palette-ash-80: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 20%);
  --palette-ash-70: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 30%);
  --palette-ash-60: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 40%);
  --palette-ash-50: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 50%);
  --palette-ash-40: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 60%);
  --palette-ash-30: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 70%);
  --palette-ash-20: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 80%);
  --palette-ash-10: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 90%);
  --palette-ash-05: color-mix(in oklch, var(--palette-ink), var(--palette-paper) 95%);
  --palette-ash-00: var(--palette-paper);
  --palette-cyan-05: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-paper) 90%);
  --palette-cyan-10: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-paper) 80%);
  --palette-cyan-20: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-paper) 60%);
  --palette-cyan-30: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-paper) 40%);
  --palette-cyan-40: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-paper) 20%);
  --palette-cyan-50: oklch(49.13% 0.084 222.18);
  --palette-cyan-60: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-ink) 20%);
  --palette-cyan-70: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-ink) 40%);
  --palette-cyan-80: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-ink) 60%);
  --palette-cyan-90: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-ink) 80%);
  --palette-cyan-95: color-mix(in oklab, oklch(49.13% 0.084 222.18), var(--palette-ink) 90%);
  --palette-yellow-05: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-paper) 90%);
  --palette-yellow-10: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-paper) 80%);
  --palette-yellow-20: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-paper) 60%);
  --palette-yellow-30: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-paper) 40%);
  --palette-yellow-40: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-paper) 20%);
  --palette-yellow-50: oklch(68.4% 0.146 67.27);
  --palette-yellow-60: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-ink) 20%);
  --palette-yellow-70: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-ink) 40%);
  --palette-yellow-80: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-ink) 60%);
  --palette-yellow-90: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-ink) 80%);
  --palette-yellow-95: color-mix(in oklab, oklch(68.4% 0.146 67.27), var(--palette-ink) 90%);
  --palette-magenta-05: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-paper) 90%);
  --palette-magenta-10: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-paper) 80%);
  --palette-magenta-20: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-paper) 60%);
  --palette-magenta-30: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-paper) 40%);
  --palette-magenta-40: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-paper) 20%);
  --palette-magenta-50: oklch(45.73% 0.158 4.61);
  --palette-magenta-60: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-ink) 20%);
  --palette-magenta-70: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-ink) 40%);
  --palette-magenta-80: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-ink) 60%);
  --palette-magenta-90: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-ink) 80%);
  --palette-magenta-95: color-mix(in oklab, oklch(45.73% 0.158 4.61), var(--palette-ink) 90%);
  --palette-green-05: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-paper) 90%);
  --palette-green-10: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-paper) 80%);
  --palette-green-20: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-paper) 60%);
  --palette-green-30: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-paper) 40%);
  --palette-green-40: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-paper) 20%);
  --palette-green-50: oklch(48.52% 0.1297 137.78);
  --palette-green-60: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-ink) 20%);
  --palette-green-70: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-ink) 40%);
  --palette-green-80: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-ink) 60%);
  --palette-green-90: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-ink) 80%);
  --palette-green-95: color-mix(in oklab, oklch(48.52% 0.1297 137.78), var(--palette-ink) 90%);
  --palette-purple-05: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-paper) 90%);
  --palette-purple-10: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-paper) 80%);
  --palette-purple-20: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-paper) 60%);
  --palette-purple-30: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-paper) 40%);
  --palette-purple-40: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-paper) 20%);
  --palette-purple-50: oklch(41.1% 0.117 290.38);
  --palette-purple-60: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-ink) 20%);
  --palette-purple-70: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-ink) 40%);
  --palette-purple-80: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-ink) 60%);
  --palette-purple-90: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-ink) 80%);
  --palette-purple-95: color-mix(in oklab, oklch(41.1% 0.117 290.38), var(--palette-ink) 90%);
  --palette-orange-05: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-paper) 90%);
  --palette-orange-10: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-paper) 80%);
  --palette-orange-20: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-paper) 60%);
  --palette-orange-30: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-paper) 40%);
  --palette-orange-40: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-paper) 20%);
  --palette-orange-50: oklch(54.9% 0.152 35.8);
  --palette-orange-60: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-ink) 20%);
  --palette-orange-70: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-ink) 40%);
  --palette-orange-80: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-ink) 60%);
  --palette-orange-90: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-ink) 80%);
  --palette-orange-95: color-mix(in oklab, oklch(54.9% 0.152 35.8), var(--palette-ink) 90%);
}

* {
  max-inline-size: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-inline-size: none;
}

body {
  background: var(--background-primary);
  color: var(--color-distinct);
  font-family: var(--font-sans);
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

main {
  min-height: 80vh;
}

p, li {
  font-size: var(--prose);
  font-weight: var(--font-normal);
  line-height: var(--leading-standard);
}

p + p {
  padding: var(--flow-space-5) 0;
}

h1 {
  font-size: var(--hed-primary);
  font-weight: var(--font-bold);
  line-height: var(--leading-loose);
}

h2 {
  font-size: var(--hed-secondary);
  font-weight: var(--font-bold);
  line-height: var(--leading-loose);
}

h3 {
  font-size: var(--hed-tertiary);
  font-weight: var(--font-medium);
  line-height: var(--leading-loose);
}

h4 {
  font-size: var(--hed-quaternary);
  font-weight: var(--font-normal);
  line-height: var(--leading-loose);
}

a, a:visited {
  color: var(--color-subtle);
  text-decoration: underline;
  text-decoration-color: var(--color-quiet);
  text-underline-offset: var(--flow-space-1);
}
a:hover, a:visited:hover {
  color: var(--color-distinct);
  text-decoration: none;
}
a:active, a:visited:active {
  color: var(--color-emphasis);
  position: relative;
  left: 1px;
  top: 1px;
}
a:focus, a:visited:focus {
  outline: solid 1px var(--color-prominent);
  outline-offset: 1px;
}

.icon {
  width: 0.75em;
  width: 1cap;
  height: 0.75em;
  height: 1cap;
  margin-inline-end: var(--flow-space-3);
}

:root {
  --gutter: var(--flow-space-5);
}

.wrapper {
  margin-inline: auto;
  max-width: clamp(16rem, var(--wrapper-max-width, 100vw), 80rem);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  position: relative;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, var(--flow-space-5));
  justify-content: flex-start;
  align-items: center;
}

.container {
  container-type: inline-size;
}

stack-l {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

stack-l > * + * {
  margin-block-start: var(--flow-space-5);
}

box-l {
  display: block;
  padding: var(--flow-space-5);
  border-width: var(--flow-space-1);
  /* ↓ For high contrast mode */
  outline: var(--flow-space-1) solid transparent;
  outline-offset: calc(var(--flow-space-1) * -1);
}

.center {
  box-sizing: content-box;
  margin-inline: auto;
  text-align: center;
  max-inline-size: var(--measure);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 0.75em;
  width: 1cap;
  height: 0.75em;
  height: 1cap;
}

/* SOURCE: https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:root {
  --weight-text:400;
  --weight-medium:500;
  --weight-semibold:700;
  --weight-bold:800;
  --leading-flat:1;
  --leading-fine:1.15;
  --leading-standard:1.5;
  --leading-loose:1.7;
  --hed-primary:clamp(var(--type-scale-42),5rem,var(--type-scale-76));
  --hed-secondary:clamp(var(--type-scale-32),100%,var(--type-scale-60));
  --hed-tertiary:clamp(var(--type-scale-28),100%,var(--type-scale-32));
  --hed-quaternary:clamp(var(--type-scale-20),100%,var(--type-scale-24));
  --prose:clamp(var(--type-scale-16), 0.8261rem + 0.8696vw, var(--type-scale-20));
  --small: clamp(var(--type-scale-14), 100%, var(--type-scale-16));
  --measure: 68ch;
  --caption:clamp(var(--type-scale-12),100%, var(--type-scale-14));
  --rhythm-vert-sm: var(--space-3);
  --rhythm-vert-md: var(--space-9);
  --rhythm-vert-lg: var(--space-12);
  --rhythm-vert-xl: var(--space-15);
}

h1 {
  font-size: var(--hed-primary);
  color: var(--color-emphasis);
}

h2 {
  font-size: var(--hed-secondary);
  color: var(--color-prominent);
}

h3 {
  font-size: var(--hed-tertiary);
  color: var(--color-distinct);
}

h4 {
  font-size: var(--hed-quaternary);
  color: var(--color-nuance);
}

h5, h6 {
  font-size: var(--prose);
}

h6 {
  font-weight: var(--weight-prose);
  font-style: italic;
}

h1, h2 {
  font-weight: var(--weight-bold);
  line-height: var(--leading-flat);
}

h3, h4 {
  font-weight: var(--weight-medium);
  line-height: var(--leading-fine);
}

h5, h6 {
  line-height: var(--leading-standard);
}

p, li {
  font-size: var(--prose);
  font-weight: var(--weight-text);
  line-height: var(--leading-standard);
}

.byline {
  color: var(--color-prominent);
}

time {
  font-family: var(--font-mono);
}

h2 + p {
  margin: 0;
  padding-block-start: var(--space-4);
}

.dek {
  color: var(--color-nuance);
}

p + p {
  padding-block-start: var(--flow-space-3);
}

p + h2 {
  padding-block-start: var(--space-3);
}

p + time {
  color: var(--color-subtle);
}

article > .body {
  margin-block-start: var(--flow-space-9);
}

:root {
  color-scheme: light;
  --background-primary: var(--palette-ash-05);
  --background-secondary: var(--palette-ash-10);
  --background-tertiary: var(--palette-ash-20);
  --background-primary-inverse:var(--palette-ash-95);
  --background-secondary-inverse: var(--palette-ash-90);
  --background-tertiary-inverse: var(--palette-ash-80);
  --color-quiet: var(--palette-ash-40);
  --color-subtle: var(--palette-ash-60);
  --color-nuance: var(--palette-ash-70);
  --color-distinct: var(--palette-ash-80);
  --color-prominent: var(--palette-ash-90);
  --color-emphasis: var(--palette-ash-100);
  --border-color-subtle: var(--palette-ash-10);
  --border-color-nuance: var(--palette-ash-20);
  --border-color-distinct: var(--palette-ash-40);
  --border-color-prominent: var(--palette-ash-60);
  --border-color-emphasis: var(--palette-ash-80);
  --link-hover: var(--palette-cyan-50);
}

html[data-theme=dark] {
  color-scheme: dark;
  --background-primary: var(--palette-ash-95);
  --background-secondary: var(--palette-ash-90);
  --background-tertiary: var(--palette-ash-80);
  --background-primary-inverse:var(--palette-ash-05);
  --background-secondary-inverse: var(--palette-ash-10);
  --background-tertiary-inverse: var(--palette-ash-20);
  --color-quiet: var(--palette-ash-60);
  --color-subtle: var(--palette-ash-40);
  --color-nuance: var(--palette-ash-30);
  --color-distinct: var(--palette-ash-10);
  --color-prominent: var(--palette-ash-05);
  --color-emphasis: var(--palette-ash-00);
  --border-color-subtle: var(--palette-ash-90);
  --border-color-nuance: var(--palette-ash-80);
  --border-color-distinct: var(--palette-ash-60);
  --border-color-prominent: var(--palette-ash-40);
  --border-color-emphasis: var(--palette-ash-20);
  --link-hover: var(--palette-cyan-30);
}

.breadcrumb ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  --space: 0;
  max-inline-size: none;
}
.breadcrumb a {
  text-decoration: none;
  font-size: var(--hed-tertiary);
}
.breadcrumb a:hover {
  color: var(--color-emphasis);
  text-decoration: underline;
}
.breadcrumb li::after {
  content: "";
  display: inline-block;
  padding: 0 var(--flow-space-3);
  display: inline-block;
  height: var(--type-scale-20);
  width: var(--type-scale-20);
  position: relative;
  background: var(--color-nuance);
  mask-image: url("/assets/svg/icons/arrow-right.svg");
  mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-size: var(--type-scale-20);
  mask-position: center;
  margin-inline-end: var(--space-2);
  margin-inline-start: var(--space-2);
}
.breadcrumb li:first-of-type {
  font-weight: var(--weight-bold);
}
.breadcrumb li:last-of-type::after {
  content: "";
  background: transparent;
}
.breadcrumb li:nth-last-child(2) a {
  color: var(--color-nuance);
}
.breadcrumb li:nth-last-child(2)::after {
  background: var(--color-nuance);
}
.breadcrumb li:nth-last-child(3) a {
  color: var(--color-subtle);
}
.breadcrumb li:nth-last-child(3)::after {
  background: var(--color-subtle);
}
.breadcrumb li:nth-last-child(4) a {
  color: var(--color-quiet);
}
.breadcrumb li:nth-last-child(4)::after {
  background: var(--color-quiet);
}
.breadcrumb [aria-current=page] {
  color: var(--color-distinct);
}

.color-mode-toggle {
  position: relative;
}

.color-mode-toggle label {
  position: relative;
  display: block;
  width: 76px;
  height: 36px;
  background-color: var(--background-tertiary-inverse);
  border-radius: 18px;
  cursor: pointer;
}

.color-mode-toggle input {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  transition: 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 6px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--background-tertiary-inverse);
  transition: 0.3s;
}

/* Light mode (unchecked) styles */
.color-mode-toggle input:not(:checked) + .slider::before {
  box-shadow: inset 11px -2px 0px 0px var(--background-tertiary);
}

/* Dark mode (checked) styles */
.color-mode-toggle input:checked + .slider {
  background-color: var(--background-tertiary-inverse);
}

.color-mode-toggle input:checked + .slider::before {
  transform: translateX(40px);
  background-color: var(--background-tertiary);
  box-shadow: none;
}

.color-mode-toggle label:focus-within {
  outline: 2px solid blue;
  outline-offset: 3px;
}

/* https://piccalil.li/blog/how-i-build-a-button-component/ */
.button {
  --button-bg: var(--background-primary);
  --button-color: var(--color-distinct);
  --button-hover-bg: var(--background-secondary);
  --button-hover-color: var(--color-prominent);
  --button-border-width: 2px;
  --button-border-style: solid;
  --button-border-color: var(--border-color-nuance);
  --button-hover-border-color: var(--border-color-prominent);
  --button-radius: var(--radii-square);
  display: inline-flex;
  align-items: center;
  gap: var(--button-gap, var(--flow-space-5));
  padding: var(--button-padding, var(--flow-space-3) var(--flow-space-5));
  background: var(--button-bg);
  color: var(--button-color);
  border-width: var(--button-border-width);
  border-style: var(--button-border-style);
  border-color: var(--button-border-color);
  border-radius: var(--button-radius);
  text-decoration: none;
  font-weight: var(--button-font-weight, var(--weight-medium));
  font-size: var(--button-font-size, inherit);
  letter-spacing: 0.05ch;
  line-height: var(--leading-fine); /* Set or buttons will be different sizes (<a>/<button>) */
  cursor: pointer;
}

.button svg {
  height: var(--button-icon-size, 1.2cap);
  width: auto;
  flex: none;
}

/* Hover/focus/active */
.button:hover {
  background: var(--button-hover-bg);
  color: var(--button-hover-color);
  border-color: var(--button-hover-border-color);
}

.button:focus {
  outline-width: var(--button-outline-width, var(--button-border-width));
  outline-style: var(--button-outline-style, var(--button-border-style));
  outline-color: var(--button-outline-color, var(--button-border-color));
  outline-offset: var(--button-outline-offset, calc(var(--button-border-width) * 1));
}

.button:active {
  transform: scale(99%);
}

/* Variants */

/* Ghost buttons */

/* Radius variants */

body > header {
  padding: var(--flow-space-10) 0 var(--flow-space-15) 0;
  container: site-header/inline-size;
}

header .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}
header .wrapper .breadcrumb {
  order: 0;
  flex: 1 0 auto;
  align-self: auto;
}
header .wrapper .color-mode-toggle {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

@container site-header (width < 700px) {
  header .wrapper {
    flex-wrap: wrap;
    gap: var(--space-5);
  }
  header .wrapper .breadcrumb {
    order: 2;
    width: 100%;
  }
  header .wrapper .color-mode-toggle {
    order: 1;
  }
}
body > footer {
  background: var(--background-secondary);
  margin: var(--flow-space-10) 0 0 0;
  padding: var(--flow-space-10) var(--flow-space-3);
}
body > footer .wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--space-6);
}
body > footer .social-links {
  max-inline-size: var(--measure);
}
body > footer .social-links ul[role=list] {
  padding: 0;
}
body > footer .social-links li {
  font-size: var(--small);
}
body > footer #theme-picker {
  align-items: center;
}
body > footer .final-info {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  color: var(--color-nuance);
}
body > footer .final-info a {
  text-decoration: none;
  color: var(--color-nuance);
}
body > footer .final-info a:hover {
  color: var(--color-distinct);
  text-decoration: underline;
  text-decoration-color: var(--color-subtle);
}
body > footer .final-info a:active {
  color: var(--color-emphasis);
}
body > footer .final-info .u-email:hover::before {
  background: var(--color-distinct);
}
body > footer .final-info .u-email:active::before {
  background: var(--color-emphasis);
}

.last-updated .h-card {
  margin: 0;
  color: var(--color-nuance);
}
.last-updated .h-card a, .last-updated .h-card a:visited, .last-updated .h-card .u-email {
  color: var(--color-nuance);
}
.last-updated .h-card time {
  font-family: var(--font-sans);
}

.h-entry, .h-card {
  font-size: var(--caption);
}

.dt-updated span {
  align-items: baseline;
  color: var(--color-nuance);
}

.last-updated .dmy::before, .last-updated .hm::before, .last-updated .h-entry::before, .h-card::before, .u-email::before {
  content: "";
  position: relative;
  background: var(--color-nuance);
  display: inline-block;
  height: var(--type-scale-16);
  width: var(--type-scale-16);
  margin: var(--space-2);
  top: 7px;
  mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-size: var(--type-scale-16);
  mask-position: center;
  margin-inline-end: var(--space-2);
  margin-inline-start: 0;
}

.last-updated .h-entry::before {
  mask-image: url("/assets/svg/icons/code-slash.svg");
  margin-inline-end: 0;
}

.last-updated .dmy::before {
  mask-image: url("/assets/svg/icons/date.svg");
}

.last-updated .hm::before {
  mask-image: url("/assets/svg/icons/time.svg");
  margin-inline-end: -5px;
}

.h-card::before {
  mask-image: url("/assets/svg/icons/copyright.svg");
  margin-inline-end: 0;
}

.h-card .u-email::before {
  mask-image: url("/assets/svg/icons/mail.svg");
}

.journal article a {
  text-decoration: none;
}
.journal article a:hover h2, .journal article a:hover p, .journal article a:hover time {
  color: var(--link-hover);
}

article .header {
  max-inline-size: 100%;
}
article .byline {
  font-family: var(--font-mono);
}
article .body {
  box-sizing: content-box;
  margin-inline: auto;
  text-align: left;
  max-inline-size: var(--measure);
  max-width: var(--measure);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home h2 {
  padding-bottom: var(--flow-space-10);
}
.home .splash p:first-of-type::first-line {
  font-weight: bolder;
  padding-bottom: var(--flow-space-8);
}
.home .splash p {
  max-width: 50ch;
}
.home .splash .cluster {
  flex-direction: column;
  align-items: flex-start;
  padding-top: var(--flow-space-3);
}

/*# sourceMappingURL=main.css.map */