body > footer{
  margin-block-start:var(--flow-10);
  display:flex;
  flex-direction:column;

  section, .final-info{
    max-inline-size:none;
    mix-blend-mode:multiply;

    .wrapper{
      padding-block: var(--flow-5);
    }
  }
  section.navigation{
    background:var(--background-primary);
    order:1;
  }
  section.subscribe{
    background:var(--background-secondary);
    order:2;
    color:var(--color-distinct);

    .with-icon{
      align-items:center;
      gap:var(--flow-2);
    }

    .icon{
      width: calc(1.5*var(--hed-quaternary));
      height: auto;
      margin-block-end: var(--flow-3);
      fill: var(--color-prominent);
    }

    a{
      color:var(--color-prominent);
      text-decoration-color: var(--color-prominent);
      opacity:.65;

      &:hover{
        opacity:1;
      }
      &:active{
        color:var(--color-emphasis);
        text-decoration-color: var(--color-emphasis);
      }
      &:focus{
        outline-color:var(--color-prominent);
      }

    }
  }
  section.socials{
    background:var(--background-tertiary);
    order:3;
    a{color:var(--color-distinct);}
  }
  section.final-info{
    background:var(--background-secondary);
    order:4;
  }

  .description{
    display:grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3, auto);
    column-gap: var(--gutter);
    svg{grid-area:1 / 1 / 2 / 2;align-content:center;}
    h2{grid-area: 1 / 2 / 2 / 3;align-content:center;}
    p:first-of-type{grid-area: 2 / 1 / 3 / 3;}
    p:nth-of-type(2){grid-area: 3 / 1 / 4 / 3;}
  }

  h2{
    padding-bottom:0!important;
    font-size: var(--prose);
    font-family: var(--font-sans);
  }

  .subscribe {
    font-size:var(--small);

    h3{
      font-size:var(--hed-quaternary);
      color:var(--color-prominent);
    }
    .wrapper{
      display:flex;
      flex-flow:column;
    }
  }
  .socials .wrapper{
    display:flex;
    align-items:baseline;
  }

  .navigation h2, .socials h2{
    padding-inline-end:var(--flow-5);
  }

  nav ul, ul[role="list"]{
    list-style-type:none;
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--flow-5);
    row-gap: var(--flow-2);
    margin: 0;
    padding: 0;
    max-inline-size:none;

    li{padding:0;}
  }
  .embeddable-buttondown-form{
    display:flex;
    flex-flow:column;
    gap: var(--flow-5);
    width:100%;

    input{
      background:var(--background-secondary);
      color: var(--color-distinct);
      width: 100%;
      height:var(--flow-8);

      &:hover{
        border-color:var(--border-color-prominent);
      }
      &::placeholder{
        color:var(--color-distinct);
      }
      &:active, &:focus{
        background:var(--background-primary);
      }
    }
    button{
      mix-blend-mode: normal;
      height:100%;
      width:clamp(100px, 150px, 300px);
      margin-block-start:0;
      align-self:start;
      --button-border-color: var(--background-quaternary);
      --button-border-width:var(--border-thin);
    }
  }

@media (min-width: 50em) {
    .subscribe .wrapper{
      text-align:center;
      display:flex;
      flex-flow:column;
      justify-content: center;
      align-content:center;

      .description, .browse{
        align-self:center;
        max-width:var(--measure);
      }
    }
    .embeddable-buttondown-form{
      display:flex;
      gap: var(--flow-5);
      align-self:center;
      align-items:center;

      input{
        max-width:50%;
      }
      button{
        align-self: center;
      }
    }
}

  .button{
    --button-bg: var(--background-secondary);

    &:hover{
      --button-hover-bg:var(--background-tertiary);
    }
    &:active{
      opacity: 84%;
    }
  }
  .social-links{
     max-inline-size:var(--measure);

     ul[role="list"]{
       padding:0;
     }
     li{
       font-size:var(--small);
     }
  }

  .final-info{
    padding-block:var(--flow-5);

    .wrapper{
      width:100%;
      display: flex;
      flex-direction: column;
      gap: var(--flow-3);
      font-size: var(--small);
    }

    a{
      color:var(--color-nuance);
    }
    a:hover, a:hover span{
      color:var(--color-distinct);
      text-decoration:underline;
      text-decoration-color:var(--color-subtle);
    }
    a:active{
      color:var(--color-emphasis);
    }
    time{
      font-family:var(--font-sans);
    }
  }

  .h-card{
    margin:0;
    color:var(--color-distinct);

    a,a:visited,.u-email{
      color:var(--color-distinct);
    }
    time{
      font-family:var(--font-sans);
    }
  }
}

.navigation .wrapper{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap:var(--flow-3);

  .about, .garden, .soil, .labor{
    width: calc(100%/2);
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;

    ul{
      display:flex;
      flex-direction:column;
    }
  }
}

@media (min-width: 50em) {
  .navigation .wrapper{
    display:flex;

    .about, .garden, .soil, .labor{
      width: calc(100%/4);

      ul{
      }
    }
  }

}
html[data-theme="dark"] body > footer{
  section.navigation{background:var(--background-secondary);}
  section.subscribe{background:var(--background-tertiary);}
  section.socials{background:var(--background-quaternary);}
  section.final-info{background:var(--background-secondary);}
}
footer {.h-entry, .h-card, .carbon {font-size:var(--caption);color:var(--color-distinct);}}
.dt-updated span{
  align-items:baseline;
  color:var(--color-distinct);
}

html[data-theme='dark']{
  body > footer section, body > footer .final-info{
    mix-blend-mode:lighten;
  }
}
.footer .carbon{
  svg{ fill: var(--color-prominent);}
}
.footer .carbon #wcb.carbonbadge{
  display: inline-flex;
  --b1: var(--color-distinct);
  --b2: transparent;
  font-size:var(--caption);
  margin-inline-start:calc(-1*var(--flow-1));

  #wcb #wcb_p{
    order: 2;

    &:after{
      content:".";
      display:inline;
      color:var(--color-distinct);
      padding-inline:0;
    }
  }
  #wcb #wcb_2{
    order: 1;
    text-transform: lowercase;
    color: var(--color-distinct);
    font-size:var(--caption);

    &:after{
      content:"at";
      display:inline-block;
      padding-inline: var(--flow-1);
      color: var(--color-distinct);
    }
  }

  #wcb #wcb_g {
    border-radius: 0;
    background: transparent;
    border-right: 0;
    min-width: 0;
  }
  #wcb #wcb_2, #wcb #wcb_a, #wcb #wcb_g{
    margin:0;
    line-height:inherit;
    font-family:var(--font-sans);
    padding:0;
  }

  #wcb.wcb-d #wcb_a{
    border:0;
    margin:0;
    display:none!important;}
}
