body > footer{
  margin-block-start:var(--flow-10);
  display:flex;
  flex-direction:column;

  section{
    max-inline-size:none;
    mix-blend-mode: normal;

    .wrapper{
      padding-block: var(--rhythm-moderato);
    }

  }

  section.navigation{
    background:var(--background-secondary);
    order:1;
  }
  section.subscribe{
    background:var(--background-tertiary-inverse);
    order:2;
    color:var(--color-distinct-inverse);
    mix-blend-mode: luminosity;

    svg{
      width: calc(2*var(--hed-quaternary));
      height: auto;
      margin-block-end: var(--rhythm-vivace);
      margin-inline-start: calc(-1*var(--rhythm-vivace));
    }

    .feeds svg{
      margin-inline-start: calc(-1*var(--rhythm-presto));
    }
    .feeds ul{
      flex-flow:column;
    }
    a{
      color:var(--link-color-inverse);
      text-decoration-color: var(--link-deco-inverse);

      &:hover{
        color:var(--link-color-hover-inverse);
        text-decoration-color: var(--link-deco-hover-inverse);
      }
      &:active{
        color:var(--link-color-active-inverse);
        text-decoration-color: var(--link-deco-active-inverse);
      }
      &:focus{
        outline-color:var(--color-prominent-inverse);
      }

    }
  }
  section.socials{
    background:var(--background-tertiary);
    order:3;
  }
  div.final-info{
    background:var(--background-secondary);
    mix-blend-mode: normal;
    order:4;
  }

  .description{
    display:grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3, auto);
    column-gap: var(--gutter);
    svg{grid-area:1 / 1 / 2 / 2;align-content:center;}
    h2{grid-area: 1 / 2 / 2 / 3;align-content:center;}
    p:first-of-type{grid-area: 2 / 1 / 3 / 3;}
    p:nth-of-type(2){grid-area: 3 / 1 / 4 / 3;}
  }

  h2{
    padding-bottom:0!important;
    font-size: var(--prose);
    font-family: var(--font-sans);
  }

  .subscribe {
    font-size:var(--small);

    h2{
      font-size:var(--hed-quaternary);
      color:var(--color-prominent-inverse);
    }
  }
  .navigation .wrapper, .socials .wrapper{
    display:flex;
    align-items:baseline;
  }

  .navigation h2, .socials h2{
    padding-inline-end:var(--rhythm-moderato);
  }

  nav ul, ul[role="list"]{
    list-style-type:none;
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--rhythm-moderato);
    row-gap: var(--rhythm-presto);
    margin: 0;
    padding: 0;
    padding-inline: var(--rhythm-presto);
    padding-block: var(--rhythm-presto);
    max-inline-size:none;
  }

@media (min-width: $breakpoint-md) {
    .subscribe .wrapper{
      display:grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: auto;
      grid-gap: calc(2*var(--gutter));
    }
}


  form{
    display:flex;
    flex-direction:column;
    gap:var(--rhythm-moderato);
    margin-block: var(--rhythm-moderato);
  }
  input{
    padding-block: var(--flow-3);
    padding-inline: var(--flow-3);
    border-color: var(--border-color-distinct);
    border-width: var(--border-fine);
    border-style: solid;
    border-radius: var(--radii-square);
    background: var(--background-tertiary-inverse);
    color:var(--color-distinct-inverse);

    &::placeholder{
      color:var(--color-distinct-inverse);
    }
  }

  .button{
    --button-bg: var(--background-secondary);

    &:hover{
      --button-hover-bg:var(--background-tertiary);
    }
    &:active{
      opacity: 84%;
    }
  }
  .social-links{
     max-inline-size:var(--measure);

     ul[role="list"]{
       padding:0;
     }
     li{
       font-size:var(--small);
     }
  }

  .final-info{
    display:flex;
    max-inline-size:none;
    padding-block:var(--rhythm-moderato);
    flex-direction:column;
    gap:var(--flow-6);
    color:var(--color-nuance);
    .wrapper{
      width:100%;
    }

    a{
      color:var(--color-nuance);
    }
    a:hover, a:hover span{
      color:var(--color-distinct);
      text-decoration:underline;
      text-decoration-color:var(--color-subtle);
    }
    a:active{
      color:var(--color-emphasis);
    }
    time{
      font-family:var(--font-sans);
    }
  }

  .h-card{
    margin:0;
    margin-block-start:var(--rhythm-moderato);
    font-size: var(--caption);
    color:var(--color-distinct);

    a,a:visited,.u-email{
      color:var(--color-distinct);
    }
    time{
      font-family:var(--font-sans);
    }
  }

}

footer {.h-entry, .h-card {font-size:var(--caption);color:var(--color-distinct);}}
.dt-updated span{
  align-items:baseline;
  color:var(--color-distinct);
}

html[data-theme='dark']{
  body > footer section, body > footer .final-info{
    mix-blend-mode:lighten;
  }
}
// .last-updated .dmy::before, .last-updated .hm::before, .last-updated .h-entry::before, .h-card::before, .u-email::before{
//  content: "";
//  position:relative;
//  background:var(--color-nuance);
//  display:inline-block;
//  height:var(--type-scale-16);
//  width:var(--type-scale-16);
//  margin:var(--rhythm-presto);
//
//  top:7px;

//  mask-mode: alpha;
//  mask-repeat: no-repeat;
//  mask-size: var(--type-scale-16);
//  mask-position: center;
//  margin-inline-end: var(--rhythm-presto);
//  margin-inline-start: 0;
//}

// .last-updated .h-entry::before{ mask-image: url('/assets/svg/icons/code-slash.svg');margin-inline-end:0;}

// .last-updated .dmy::before{ mask-image: url('/assets/svg/icons/date.svg');}
// .last-updated .hm::before{ mask-image: url('/assets/svg/icons/time.svg');margin-inline-end:0px;}
// .h-card::before{ mask-image: url('/assets/svg/icons/copyright.svg');margin-inline-end:0;}
// .h-card .u-email::before{mask-image:url('/assets/svg/icons/mail.svg');
// }
