body > header{
  padding:var(--flow-10) 0 var(--flow-15) 0;
  container: site-header / inline-size;
}
header .wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;

  .breadcrumb {
    order: 0;
    flex: 1 0 auto;
    align-self: auto;
  }

  .color-mode-toggle{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
}
