:root{
  --border-hairline: 0.042rem;
  --border-fine:     0.083rem;
  --border-thin:     0.167rem;
  --border-light:    0.250rem;
  --border-regular:  0.333rem;
  --border-medium:   0.500rem;
  --border-bold:     0.667rem;
  --border-heavy:    0.833rem;
  --border-black:    1.000rem;
  --border-ultra:    1.167rem;
}
