:root{
  --border-hairline: 0.042em;
  --border-fine:     0.083em;
  --border-thin:     0.125em;
  --border-light:    0.167em;
  --border-regular:  0.250em;
  --border-medium:   0.333em;
  --border-bold:     0.500em;
  --border-heavy:    0.667em;
  --border-black:    0.833em;
  --border-ultra:    1.000em;
}
