:root{
  --border-hairline: 0.042em;
  --border-fine:     0.083em;
  --border-thin:     0.167em;
  --border-light:    0.250em;
  --border-regular:  0.333em;
  --border-medium:   0.500em;
  --border-bold:     0.667em;
  --border-heavy:    0.833em;
  --border-black:    1.000em;
  --border-ultra:    1.167em;
}
