:root{
  --flow-space-1: 0.125rem;
  --flow-space-2: 0.25rem;
  --flow-space-3: 0.5rem;
  --flow-space-4: 0.75rem;
  --flow-space-5: 1rem;
  --flow-space-6: 1.5rem;
  --flow-space-7: 2rem;
  --flow-space-8: 2.5rem;
  --flow-space-9: 3rem;
  --flow-space-10: 4rem;
  --flow-space-11: 5rem;
  --flow-space-12: 6rem;
  --flow-space-13: 10rem;
}
