:root{
  --flow-space-1: 0.125rem;
  --flow-space-2: 0.25rem;
  --flow-space-3: 0.5rem;
  --flow-space-4: 0.75rem;
  --flow-space-5: 1rem;
  --flow-space-6: 1.5rem;
  --flow-space-7: 2rem;
  --flow-space-8: 2.5rem;
  --flow-space-9: 3rem;
  --flow-space-10: 4rem;
  --flow-space-11: 5rem;
  --flow-space-12: 6rem;
  --flow-space-13: 10rem;
  --flow-space-14: 13rem;
  --flow-space-15: 15rem;

  --space-1: 0.125em;
  --space-2: 0.25em;
  --space-3: 0.5em;
  --space-4: 0.75em;
  --space-5: 1em;
  --space-6: 1.5em;
  --space-7: 2em;
  --space-8: 2.5em;
  --space-9: 3em;
  --space-10: 4em;
  --space-11: 5em;
  --space-12: 6em;
  --space-13: 10em;
}
