:root{
  --font-sans:'IBM Plex Sans', sans-serif;

  --type-scale-2: 0.125rem;
  --type-scale-4: 0.25rem;
  --type-scale-8: 0.5rem;
  --type-scale-12: 0.75rem;
  --type-scale-14: 0.875rem;
  --type-scale-16: 1rem;
  --type-scale-18: 1.125rem;
  --type-scale-20: 1.25rem;
  --type-scale-24: 1.5rem;
  --type-scale-28: 1.75rem;
  --type-scale-32: 2rem;
  --type-scale-36: 2.25rem;
  --type-scale-42: 2.625rem;
  --type-scale-48: 3rem;
  --type-scale-54: 3.375rem;
  --type-scale-60: 3.75rem;
  --type-scale-68: 4.25rem;
  --type-scale-76: 4.75rem;
  --type-scale-84: 5.25rem;
  --type-scale-92: 5.75rem;
  --type-scale-102: 6.375rem;
  --type-scale-112: 7rem;
  --type-scale-122: 7.625rem;
  --type-scale-132: 8.25rem;
  --type-scale-144: 9rem;
}
