.breadcrumb{
  width: 100%;
  backdrop-filter: blur(var(--rhythm-prestissimo));
  -webkit-mask-image: linear-gradient(to top, transparent 0%, rgba(89, 89, 89, 1) 55%, black 100%);
  mask-image: linear-gradient(to top, transparent 0%, rgba(89, 89, 89, 1) 55%, black 100%);
  margin-block-start: calc(-1*var(--rhythm-moderato));
  padding-block-start: var(--rhythm-moderato);
  padding-block-end: var(--flow-7);

  margin-inline-start: calc(-1*var(--rhythm-moderato));
  padding-inline-start: var(--rhythm-moderato);
  z-index:1003;

  ol{
    list-style-type:none;
    margin:0;
    padding:0;
    --space: 0;
    max-inline-size:none;
  }

  li{
    padding-block:var(--rhythm-vivace);
  }

  a{
    text-decoration:none;
    font-size:var(--hed-tertiary);

    &:hover{
      color:var(--color-emphasis);
      text-decoration: underline;
    }
  }

  li:not(:first-of-type){
    display:none;
  }

  li:first-of-type{
    margin-inline-end:var(--rhythm-moderato);
  }
  li:not(:first-of-type)::after{
    content: "";
    padding: 0 var(--flow-3);
    display:inline-block;
    height:var(--type-scale-20);
    width:var(--type-scale-20);
    position:relative;
    align-self: center;

    mask-image: url('/assets/svg/icons/arrow-right.svg');
    mask-mode: alpha;
    mask-repeat: no-repeat;
    mask-size: var(--type-scale-20);
    mask-position: center;
    margin-inline-end: var(--rhythm-presto);
    margin-inline-start: var(--rhythm-presto);
  }

  .icon.arrow-right{
    mask-image: url('/assets/svg/icons/arrow-right.svg');
    mask-mode: alpha;
    mask-repeat: no-repeat;
    mask-size: var(--type-scale-20);
    mask-position: center;
    margin-inline-end: var(--rhythm-presto);
    margin-inline-start: var(--rhythm-presto);
  }

  li:last-of-type::after{
    content:"";
    background:transparent;
  }

  li:has(a:focus)::after {
      /*you may replace this with an explicit className, e.g. :has(.child1)*/
      background:transparent;
  }

  li:nth-last-child(2){
    a{
      color: var(--color-nuance);
      &:hover{
        color: var(--color-distinct);
        text-decoration-color:var(--color-distinct);
      }
    }
    &::after{
      background:var(--color-nuance);
    }
  }

  li:nth-last-child(3) {
    a{
      color: var(--color-subtle);
      &:hover{
        color: var(--color-nuance);
        text-decoration-color:var(--color-nuance);
      }
    }
    &::after{
      background:var(--color-subtle);
    }
  }

  li:nth-last-child(4) {
    a{
      color: var(--color-quiet);
      &:hover{
        color: var(--color-subtle);
        text-decoration-color:var(--color-subtle);
      }
    }
    &::after{
      background:var(--color-quiet);
    }
  }

  [aria-current="page"]{
    color:var(--color-distinct);
    font-weight: var(--weight-medium);

    &:hover{
      text-decoration:none;
      color:var(--color-distinct);
    }
  }
}

@media(min-width:40em){
  .breadcrumb li:not(:first-of-type){
    display: flex;
  }
}
