.breadcrumb{
  ol{
    list-style-type:none;
    margin:0;
    padding:0;
    --space: 0;
    max-inline-size:none;
  }

  a{
    text-decoration:none;
    font-size:var(--hed-tertiary);


    &:hover{
      color:var(--color-emphasis);
      text-decoration: underline;
    }
  }

  li::after{
    content: "";
    display: inline-block;
    padding: 0 var(--flow-space-3);

    display:inline-block;
    height:var(--type-scale-20);
    width:var(--type-scale-20);
    position:relative;
    background:var(--color-nuance);

    mask-image: url('/assets/svg/icons/arrow-right.svg');
    mask-mode: alpha;
    mask-repeat: no-repeat;
    mask-size: var(--type-scale-20);
    mask-position: center;
    margin-inline-end: var(--space-2);
    margin-inline-start: var(--space-2);
  }

  li:first-of-type{
    font-weight:var(--weight-bold);
  }

  li:last-of-type::after{
    content:"";
    background:transparent;
  }

  li:nth-last-child(2){
    a{
      color: var(--color-nuance);
    }
    &::after{
      background:var(--color-nuance);
    }
  }

  li:nth-last-child(3) {
    a{
      color: var(--color-subtle);
    }
    &::after{
      background:var(--color-subtle);
    }
  }

  li:nth-last-child(4) {
    a{
      color: var(--color-quiet);
    }
    &::after{
      background:var(--color-quiet);
    }
  }

  [aria-current="page"]{
    color:var(--color-distinct);
  }
}
