.card{
  background: var(--background-primary);
  border: var(--border-fine) solid var(--border-color-nuance);
  border-radius:var(--radii-square);
  width:100%;
  overflow:hidden;
  padding:var(--flow-5);
  transition: border-radius var(--duration-base) ease-in-out, color var(--duration-base) ease-in-out, border-color var(--duration-base) ease-in-out, background var(--duration-base) ease-in-out;

  header{
    display:flex;
    flex-flow:column;
    row-gap:var(--flow-3);

    h3{
      line-height:var(--leading-standard);
    }
  }
}

.card{
  text-decoration: none;
}

.card{
  &:hover, &:active{
    background-color: var(--background-secondary);
    border-color: var(--color-emphasis);
    color: var(--color-emphasis);
  }
}
