.honeypot {
  position: absolute;
  left: -9999px;
}
form{
  display:flex;
  flex-direction:column;
  gap:var(--flow-4);
  margin-block: var(--flow-5);
}
textarea, input, button{
  padding-block: var(--flow-3);
  padding-inline: var(--flow-3);
  border-color: var(--border-color-distinct);
  border-width: var(--border-thin);
  border-style: solid;
  border-radius: var(--radii-square);
  background: var(--background-secondary);
  color: var(--color-prominent);

  &::placeholder{
    color:var(--color-quiet-inverse);
  }
  &:focus, &:active{
    background: var(--background-primary);
  }
}

.site-contact{
  --measure: 65ch;

  input[type="submit"]{
    max-width: var(--flow-13);
    margin-block-start: var(--flow-4);
  }
}


footer .embeddable-buttondown-form{
  display:grid;
  grid-template-columns: 1fr auto;
  gap: var(--flow-5);

  input{
    background:var(--background-secondary);
    color: var(--color-distinct);

    &:hover{
      border-color:var(--border-color-prominent);
    }
    &::placeholder{
      color:var(--color-distinct);
    }
    &:active, &:focus{
      background:var(--background-primary);
    }
  }
  button{
    mix-blend-mode: normal;
    height:100%;
    --button-bg:red;
    --button-border-color: var(--background-quaternary);
    --button-border-width:var(--border-thin);
  }
}

.field{
  display: flex;
  flex-direction: column;
  row-gap: var(--flow-3);
}
label{
  font-weight:var(--weight-medium);
  font-size:var(--small);
  text-transform: uppercase;
  letter-spacing:var(--kerning-mono-medium);
  color: var(--color-distinct);
  font-family: var(--font-mono);

  abbr{
    font-variant: super;
  }
}

input + button{
  margin-block-start:var(--flow-3);
  align-self: flex-end;
}

.form-actions{
  display:flex;
  gap:var(--flow-5);
  justify-content: flex-end;
}

.error{
  input#password{
    border-color:var(--error-color);
    border-width:var(--border-thin);
  }

  .error-text{
    color: var(--error-color);
    font-size:var(--small);
  }

  label{
    color: var(--error-color);
  }
}

select{
  background:var(--background-primary);
  border-color:var(--border-color-distinct);
  border-radius:var(--radii-square);
  padding:var(--flow-2);
  outline:none;
}

select:hover, select:active{
  cursor:pointer;
  background:var(--background-secondary);
  border-color:var(--border-color-prominent);
}

body.locked{
  main{
    display:flex;
    justify-content:center;
    align-content:center;
    min-height:100vh;
  }

  .locked-dialog{
    display:flex;
    flex-direction: column;
    gap:var(--flow-5);
    align-items:center;
    padding: var(--flow-5);

    header{
      text-align:center;
    }
    form{
      justify-self:center;
      width:84vw;
      margin-block-end:var(--flow-11);
    }
    footer{
      background: var(--background-secondary);
      padding: var(--flow-7);
      padding-block-start:var(--flow-6);
    }
    h3{
      margin-block-end: var(--flow-2);
    }
  }
}
@media screen and (min-width:40em){
  body.locked .locked-dialog form{ width: minmax(42vw, 42%);}
}
