.honeypot {
  position: absolute;
  left: -9999px;
}
form{
  display:flex;
  flex-direction:column;
  gap:var(--rhythm-allegro);
  margin-block: var(--rhythm-moderato);
}
textarea, input, button{
  padding-block: var(--rhythm-vivace);
  padding-inline: var(--rhythm-vivace);
  border-color: var(--border-color-distinct);
  border-width: var(--border-thin);
  border-style: solid;
  border-radius: var(--radii-square);
  background: var(--background-secondary);
  color: var(--color-prominent);

  &::placeholder{
    color:var(--color-subtle-inverse);
  }
  &:focus, &:active{
    background: var(--background-primary);
  }
}

footer .embeddable-buttondown-form{
  display:grid;
  grid-template-columns: 1fr auto;
  gap: var(--rhythm-moderato);

  input{
    background:var(--background-secondary);
    color: var(--color-distinct);

    &:hover{
      border-color:var(--border-color-prominent);
    }
    &::placeholder{
      color:var(--color-distinct);
    }
    &:active, &:focus{
      background:var(--background-primary);
    }
  }
  button{
    mix-blend-mode: normal;
    height:100%;
    --button-bg:red;
    --button-border-color: var(--background-quaternary);
    --button-border-width:var(--border-thin);
  }
}

label{
  font-weight:var(--weight-medium);
  font-size:var(--caption);
  color: var(--color-distinct);
  font-family: var(--font-mono);
}

input + button{
  margin-block-start:var(--rhythm-vivace);
  align-self: flex-end;
}

.form-actions{
  display:flex;
  gap:var(--rhythm-moderato);
  justify-content: flex-end;
}

form.error{
  input#password{
    border-color:var(--error-color);
    border-width:var(--border-thin);
  }

  .error-text{
    color: var(--error-color);
    font-size:var(--small);
  }

  label{
    color: var(--error-color);
  }
}

select{
  background:var(--background-primary);
  border-color:var(--border-color-distinct);
  border-radius:var(--radii-square);
  padding:var(--rhythm-presto);
  outline:none;
}

select:hover, select:active{
  cursor:pointer;
  background:var(--background-secondary);
  border-color:var(--border-color-prominent);
}

body.locked{
  main{
    display:flex;
    justify-content:center;
    align-content:center;
    min-height:100vh;
  }

  .locked-dialog{
    display:flex;
    flex-direction: column;
    gap:var(--rhythm-moderato);
    align-items:center;
    padding: var(--rhythm-moderato);

    header{
      text-align:center;
    }
    form{
      justify-self:center;
      width:84vw;
      margin-block-end:var(--rhythm-adagio);
    }
    footer{
      background: var(--background-secondary);
      padding: var(--rhythm-andante);
      padding-block-start:var(--rhythm-andantino);
    }
    h3{
      margin-block-end: var(--rhythm-presto);
    }
  }
}
@media screen and (min-width:40em){
  body.locked .locked-dialog form{ width: minmax(42vw, 42%);}
}
