.meta .tags {
  max-inline-size:none;
  gap:var(--flow-3);
  justify-content: flex-start;
  margin-inline-end: calc(-1*var(--flow-4));
  font-size:var(--small);
  font-family:var(--font-mono);

  .icon{fill:var(--color-distinct);}
  .with-icon{color:var(--color-distinct);}
}

.p-category.button{
  --button-border-color:var(--border-color-nuance);

  padding-inline: var(--flow-4);
  padding-block: var(--flow-2);
  border-radius: var(--radii-circle);
  font-size:var(--small);
  font-family:var(--font-mono);
  position:relative;
  bottom:-2px;
  cursor: pointer;
  transition: color var(--duration-faster) ease-in-out, border var(--duration-faster) ease-in-out, background var(--duration-base) ease-in-out, fill var(--duration-faster) ease-in-out;
  display:inline-flex;
  gap: var(--flow-3);

  &:focus{
    outline-offset: var(
      --button-outline-offset,
      calc(var(--button-border-width) * 1)
    );
  }

  &:hover{
    background:var(--background-tertiary);
  }
  &:active, &.active{
    :has(.count){
      .count{
        color:var(--background-primary);
      }
    }
  }
  &:has(.count){
    padding-inline-start: var(--flow-2);

    .count{
      background: var(--background-tertiary);
      border-radius: var(--radii-circle);
      padding-inline: var(--flow-3);
      padding-block: var(--flow-1);
      display:inline-flex;
      justify-content: center;
      align-items: center;
      min-width:var(--flow-6);
      color:var(--color-distinct);

      transition: color var(--duration-faster) ease-in-out, border var(--duration-faster) ease-in-out, background var(--duration-base) ease-in-out, fill var(--duration-faster) ease-in-out;
    }
    &:hover .count, &:focus .count{
      background:var(--background-quaternary);
      color:var(--color-prominent);
    }
    &:active .count, &.active .count{
      background: var(--color-quiet);
      color:var(--color-emphasis);
    }
  }
}
.filter-radio:checked + label.p-category.button{
  background: var(--background-secondary);
  color:var(--color-distinct);
  outline-color:var(--color-nuance);
  border-color:var(--color-prominent);

  .count{
    background:var(--background-tertiary);
    color:var(--color-prominent);
  }
}

.tags-cloud{
  ul{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    list-style-type: none;
    max-inline-size: none;
    gap: calc(.5*var(--gutter));
    padding:0;
  }

  a{
    gap:var(--flow-3);
  }

}
