.color-mode-toggle {
    position: relative;
}

.color-mode-toggle label {
    position: relative;
    display: block;
    width: 76px;
    height: 36px;
    background-color: var(--background-tertiary-inverse);
    border-radius: 18px;
    cursor: pointer;
}

.color-mode-toggle input {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 18px;
    transition: 0.3s;
}

.slider::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 6px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: var(--background-tertiary-inverse);
    transition: 0.3s;
}

/* Light mode (unchecked) styles */
.color-mode-toggle input:not(:checked) + .slider::before {
    box-shadow: inset 11px -2px 0px 0px var(--background-tertiary);
}

/* Dark mode (checked) styles */
.color-mode-toggle input:checked + .slider {
    background-color: var(--background-tertiary-inverse);
}

.color-mode-toggle input:checked + .slider::before {
    transform: translateX(40px);
    background-color: var(--background-tertiary);
    box-shadow: none;
}
.color-mode-toggle label:focus-within {
    outline: 2px solid blue;
    outline-offset: 3px;
}
