.table-of-contents{

  summary{
    cursor:pointer;
    display:block;

    &::-webkit-details-marker {
      display: none;
    }
    &:hover{
      opacity:.8;
    }
  }

  span.toc-title {
    position: relative;
    display: flex;
    align-items: center;
    padding-inline: var(--rhythm-moderato);
    color: var(--color-distinct);
    height: var(--hed-primary);
    font-size:var(--prose);
    border-radius:var(--radii-square);
    justify-content: space-between;
    transition: border-radius var(--duration-slower) ease;
    background:var(--background-primary);
    border:var(--border-fine) solid var(--border-color-nuance);

    &:hover{background:var(--background-secondary);border-color:var(---border-color-distinct);}
  }

  span.toc-title:hover {
    cursor: pointer;
    color: var(--color-emphasis);

    .icon{
      fill:var(--color-prominent);
    }
  }
  .icon.toc path{
    transition: fill var(--duration-slower) ease;
  }


  .toc-title > .icon{
    transition: rotate var(--duration-faster) var(--duration-faster) ease-out;
  }

  details{
    overflow: hidden;
  }

  .icon.toc{
    transition: fill var(--duration-slower) ease-out;
  }
  details:not([open]) .icon.toc .small-inner, details:not([open]) .icon.toc .small-outer{
    fill:var(--color-prominent);

  }
  details:not([open]) .icon.toc .large-inner {
    fill: transparent;
  }
  details:not([open]) .icon.toc .large-outer{
    fill: var(--color-subtle);
  }

  details[open] .icon.toc .large-inner, details[open] .icon.toc .large-outer {
    fill: var(--color-prominent);
  }
  details[open] .icon.toc .small-inner{
    fill:transparent;
  }
  details[open] .icon.toc .small-outer{
    fill:var(--color-subtle);
  }

  details[open] + div.content {
    max-height: 50vh;
    border-color: var(--border-color-nuance);
    background:var(--background-nav-panel);
    transition: max-height var(--duration-base) ease-out, border var(--duration-faster) linear;
  }

  details[open] .toc-title > .icon {
    rotate: 180deg;
    transition: rotate var(--duration-faster) ease-out;
    fill:var(--color-prominent);
  }

  details[open] > summary span.toc-title {
    background:var(--background-primary);
    color:var(--color-prominent);
    border-end-end-radius:0;
    border-end-start-radius:0;
    border-color:var(--border-color-nuance);
    border-block-end-width: var(--border-hairline);

    .with-icon .icon{
      fill:var(--color-prominent);
    }
    &:hover{
      border-color:var(--border-color-distinct);
    }
  }

  div.content{
    box-sizing: border-box;
    max-height: 0;
    overflow: hidden;
    padding: var(--rhythm-presto);
    border: var(--border-fine) solid transparent;
    transition: max-height var(--duration-base) ease-out, border var(--duration-faster) linear;
    margin-inline-end:0px;
  }
  ol{
    margin-inline-start:var(--rhythm-moderato);
    list-style-type:none;
    counter-reset: custom-counter;
    margin:0;
    padding:0;
  }
  .content{

  }
  .toc-list{
    padding-block:var(--rhythm-moderato);
    max-width:100%;
  }
  .toc-item{
    counter-increment: custom-counter;
    display: flex;
    align-items: center;
    padding-inline:var(--rhythm-moderato);
    transition: color var(--duration-faster) ease-in-out;


    &:hover{
      background:var(--background-secondary);
      color:var(--color-emphasis);
    }
  }
  .toc-item::before{
    content: counter(custom-counter) ". ";
    padding-inline-end:var(--rhythm-presto);
  }
  .toc-item:has(a:focus)::before{
    content:"";
    color:transparent;
  }


  .toc-link{
    flex:1;
    text-decoration:none;
    transition: color var(--duration-faster) ease-in-out;

    &:hover{
      color:var(--color-emphasis);
    }
  }
}
