* {
  max-inline-size: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-inline-size: none;
}

body {
  background:var(--background-primary);
  color:var(--color-distinct);
  font-family: var(--font-sans);
  transition: background-color 0.3s, color 0.3s;
  margin:0;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

main{
  min-height:80vh;
}

p, li{
  font-size:var(--prose);
  font-weight: var(--font-normal);
  line-height:var(--leading-standard);
}
p+p{
  padding:var(--flow-space-5) 0;
}

h1{
  font-size:var(--hed-primary);
  font-weight:var(--font-bold);
  line-height:var(--leading-loose);
}

h2{
  font-size:var(--hed-secondary);
  font-weight:var(--font-bold);
  line-height:var(--leading-loose);
}

h3{
  font-size:var(--hed-tertiary);
  font-weight:var(--font-medium);
  line-height:var(--leading-loose);
}

h4{
  font-size:var(--hed-quaternary);
  font-weight:var(--font-normal);
  line-height:var(--leading-loose);
}

a, a:visited{
  color:var(--color-subtle);
  text-decoration: underline;
  text-decoration-color: var(--color-quiet);
  text-underline-offset:var(--flow-space-1);

  &:hover{
    color:var(--color-distinct);
    text-decoration:none;
  }

  &:active{
    color:var(--color-emphasis);
    position:relative;
    left:1px;
    top:1px;
  }

  &:focus{
    outline: solid 1px var(--color-prominent);
    outline-offset: 1px;
  }
}

.icon {
  width: 0.75em;
  width: 1cap;
  height: 0.75em;
  height: 1cap;
  margin-inline-end: var(--flow-space-3);
}
