* {
  max-inline-size: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-inline-size: none;
}

body {
  color:var(--color-distinct);
  font-family: var(--font-sans);
  transition: background-color 0.3s, color 0.3s;
  margin:0;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

main{
  min-height:80vh;
}

html[data-theme='dark'] body{
  background:url('/assets/png/stardust.png') repeat, var(--background-primary);
  background-attachment:fixed;
}
