.icon {
  display:inline-block;
  flex-shrink: 0;

  width: 1em;
  width: 1.75cap;
  height: 1em;
  height: 1.75cap;
  position:relative;
  top: .15em;
  top: .3cap;

  fill:var(--color-subtle);
}

.with-icon {
  display: inline-flex;
  align-items: baseline;
}

.with-icon .icon {
  margin-inline-end: .3em;
}

/* Finding a way to scale icons based on their typographic pairing */
.with-icon:has(.icon + h1) .icon{}
.with-icon:has(.icon + h2) .icon{}
.with-icon:has(.icon + h3) .icon{}
.with-icon:has(.icon + h4) .icon{}
.with-icon:has(.icon + h5) .icon{}
.with-icon:has(.icon + h6) .icon{}
.with-icon:has(.icon + h6) .icon{}

.with-icon:has(.icon + time) .icon{}
.with-icon:has(.icon + p) .icon{}
