:root{
  --link-color: var(--color-subtle);
  --link-deco: var(--color-quiet);

  --link-color-inverse: var(--color-subtle-inverse);
  --link-deco-inverse: var(--color-quiet-inverse);

  --link-color-hover: var(--color-distinct);
  --link-deco-hover: var(--color-nuance);

  --link-color-active: var(--color-prominent);
  --link-deco-active: var(--color-distinct);

  --link-color-hover-inverse: var(--color-distinct-inverse);
  --link-deco-hover-inverse: var(--color-nuance-inverse);

  --link-color-active-inverse: var(--color-emphasis-inverse);
  --link-deco-active-inverse: var(--color-emphasis-inverse);
}

a, a:visited{
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-color: var(--link-deco);
  text-underline-offset: var(--border-thin);
  text-decoration-thickness: var(--border-fine);

  &:hover{
    color:var(--link-color-hover);
    text-decoration-color:var(--link-deco-hover);

    span.with-icon svg{
      fill:var(--link-color-hover);
    }
  }

  &:active{
    color:var(--link-color-active);
    text-decoration-color:var(--link-deco-active);
    position:relative;
    left:1px;
    top:1px;

    span.with-icon svg{
      fill:var(--link-color-active);
    }
  }

  &:focus {
    outline: solid var(--border-thin) var(--color-prominent);
    outline-offset: 0.25em;
    outline-width: 0.25em;
    border-radius:var(--radii-square);
  }
}
