:root{
  --rhythm-presto: var(--flow-2);
  --rhythm-vivace:var(--flow-3);
  --rhythm-allegro:var(--flow-4);
  --rhythm-moderato:var(--flow-5);
  --rhythm-andante:var(--flow-7);
  --rhythm-adagio:var(--flow-13);
  --rhythm-largo:var(--flow-15);
}
