// To Do: Rename Background Primary - Tertiary into semantic gradient of quiet to emphasis, then rename everything everywhere. Same with Inverse. Also, gives more flexibility with everything, to have it more explicit on each one. Especially when developing color themes.

:root[data-theme='light'] {
  color-scheme: light;
  --background-primary: var(--palette-ash-05);
  --background-secondary: var(--palette-ash-10);
  --background-tertiary: var(--palette-ash-20);
  --background-quaternary: var(--palette-ash-30);
  --background-quinary: var(--palette-ash-40);

  --background-primary-inverse:var(--palette-ash-95);
  --background-secondary-inverse: var(--palette-ash-90);
  --background-tertiary-inverse: var(--palette-ash-80);
  --background-quaternary-inverse: var(--palette-ash-70);
  --background-quinary-inverse: var(--palette-ash-60);

  --color-quiet:    var(--palette-ash-40);
  --color-subtle:    var(--palette-ash-60);
  --color-nuance:    var(--palette-ash-70);
  --color-distinct:  var(--palette-ash-80);
  --color-prominent: var(--palette-ash-90);
  --color-emphasis:  var(--palette-ash-100);

  --color-quiet-inverse:    var(--palette-ash-60);
  --color-subtle-inverse:    var(--palette-ash-40);
  --color-nuance-inverse:    var(--palette-ash-30);
  --color-distinct-inverse:  var(--palette-ash-20);
  --color-prominent-inverse: var(--palette-ash-10);
  --color-emphasis-inverse:  var(--palette-ash-05);

  --border-color-subtle:    var(--palette-ash-10);
  --border-color-nuance:    var(--palette-ash-20);
  --border-color-distinct:  var(--palette-ash-40);
  --border-color-prominent: var(--palette-ash-60);
  --border-color-emphasis:  var(--palette-ash-80);

  --error-color: var(--palette-red-50);
  --background-nav-panel: var(--palette-tint-70);
}

:root[data-theme="dark"] {
  color-scheme: dark;
  --background-primary: var(--palette-ash-95);
  --background-secondary: var(--palette-ash-90);
  --background-tertiary: var(--palette-ash-80);
  --background-quaternary: var(--palette-ash-70);
  --background-quinary: var(--palette-ash-60);

  --background-primary-inverse:var(--palette-ash-05);
  --background-secondary-inverse: var(--palette-ash-10);
  --background-tertiary-inverse: var(--palette-ash-20);
  --background-quaternary-inverse: var(--palette-ash-30);
  --background-quinary-inverse: var(--palette-ash-40);

  --color-quiet:     var(--palette-ash-60);
  --color-subtle:    var(--palette-ash-40);
  --color-nuance:    var(--palette-ash-30);
  --color-distinct:  var(--palette-ash-20);
  --color-prominent: var(--palette-ash-10);
  --color-emphasis:  var(--palette-ash-05);

  --color-quiet-inverse:    var(--palette-ash-40);
  --color-subtle-inverse:    var(--palette-ash-60);
  --color-nuance-inverse:    var(--palette-ash-70);
  --color-distinct-inverse:  var(--palette-ash-80);
  --color-prominent-inverse: var(--palette-ash-90);
  --color-emphasis-inverse:  var(--palette-ash-100);

  --border-color-subtle:    var(--palette-ash-90);
  --border-color-nuance:    var(--palette-ash-80);
  --border-color-distinct:  var(--palette-ash-60);
  --border-color-prominent: var(--palette-ash-40);
  --border-color-emphasis:  var(--palette-ash-20);

  --error-color: var(--palette-red-30);

  --background-nav-panel: var(--palette-shade-70);
}

html[data-theme='light']{
  background:url('/assets/png/paper-tile.webp') repeat, var(--background-primary);
  background-size:50%;
  background-attachment:fixed;
}
@media screen and (min-width:50em){
  html[data-theme='light']{
    background-size:15%;
  }
}

html[data-theme='dark']{
  background:url('/assets/png/stardust.webp') repeat, var(--background-primary);
}
