@mixin theme-light() {
  color-scheme: light;
  --background-primary: var(--palette-ash-05);
  --background-secondary: var(--palette-ash-10);
  --background-tertiary: var(--palette-ash-20);

  --background-primary-inverse:var(--palette-ash-95);
  --background-secondary-inverse: var(--palette-ash-90);
  --background-tertiary-inverse: var(--palette-ash-80);

  --color-quiet:    var(--palette-ash-40);
  --color-subtle:    var(--palette-ash-60);
  --color-nuance:    var(--palette-ash-70);
  --color-distinct:  var(--palette-ash-80);
  --color-prominent: var(--palette-ash-90);
  --color-emphasis:  var(--palette-ash-100);

  --border-color-subtle:    var(--palette-ash-10);
  --border-color-nuance:    var(--palette-ash-20);
  --border-color-distinct:  var(--palette-ash-40);
  --border-color-prominent: var(--palette-ash-60);
  --border-color-emphasis:  var(--palette-ash-80);
}

@mixin theme-dark() {
  color-scheme: dark;
  --background-primary: var(--palette-ash-95);
  --background-secondary: var(--palette-ash-90);
  --background-tertiary: var(--palette-ash-80);

  --background-primary-inverse:var(--palette-ash-05);
  --background-secondary-inverse: var(--palette-ash-10);
  --background-tertiary-inverse: var(--palette-ash-20);

  --color-quiet:    var(--palette-ash-60);
  --color-subtle:    var(--palette-ash-40);
  --color-nuance:    var(--palette-ash-30);
  --color-distinct:  var(--palette-ash-10);
  --color-prominent: var(--palette-ash-05);
  --color-emphasis:  var(--palette-ash-00);

  --border-color-subtle:    var(--palette-ash-90);
  --border-color-nuance:    var(--palette-ash-80);
  --border-color-distinct:  var(--palette-ash-60);
  --border-color-prominent: var(--palette-ash-40);
  --border-color-emphasis:  var(--palette-ash-20);
}

:root{
  @include theme-light;
}

html[data-theme='dark']{
  @include theme-dark;
}
