:root{
  --weight-text:400;
  --weight-medium:500;
  --weight-semibold:700;
  --weight-bold:800;

  --leading-flat:1;
  --leading-fine:1.15;
  --leading-standard:1.5;
  --leading-loose:1.7;

  --leading-tighter: 110%;
  --leading-tight: 120%;
  --leading-snug: 130%;
  --leading-base: 140%;
  --leading-loose: 170%;
  --leading-looser: 200%;

  --hed-primary:clamp(var(--type-scale-42),2.032vw + 1.975rem,var(--type-scale-76));
  --hed-secondary:clamp(var(--type-scale-36),1.434vw + 1.791rem,var(--type-scale-60));
  --hed-tertiary:clamp(var(--type-scale-28),0.478vw + 1.597rem,var(--type-scale-36));
  --hed-quaternary:clamp(var(--type-scale-20),0.239vw + 1.174rem,var(--type-scale-24));
  --hed-quinary: var(--prose);

  --prose:clamp(var(--type-scale-16), 0.239vw + 0.924rem, var(--type-scale-20));
  --small: clamp(var(--type-scale-14), 0.12vw + 0.837rem, var(--type-scale-16));
  --caption:clamp(var(--type-scale-12),0.12vw + 0.712rem, var(--type-scale-14));

  --measure: 68ch;
}

h1{
  font-size:var(--hed-primary);
  color:var(--color-emphasis);
}
h2{
  font-size:var(--hed-secondary);
  color:var(--color-prominent);
}
h3{
  font-size:var(--hed-tertiary);
  color:var(--color-distinct);
}
h4{
  font-size:var(--hed-quaternary);
  color:var(--color-nuance);
}
h5,h6{
  font-size: var(--prose);
}
h6{
  font-weight: var(--weight-prose);
  font-style: italic;
}

h1,h2{
  font-weight:var(--weight-bold);
  line-height:var(--leading-flat);
}
h3,h4{
  font-weight:var(--weight-medium);
  line-height:var(--leading-fine);
}
h5, h6{
  line-height:var(--leading-standard);
}
p, li{
  font-size:var(--prose);
  font-weight: var(--weight-text);
  line-height:var(--leading-standard);
}

.byline{
  color:var(--color-prominent);
}

// COMBINATIONS
h2 + p{
  margin:0;
  padding-block-start:var(--flow-4);
}
.dek{
  color:var(--color-nuance);
}
p+p{
  padding-block-start:var(--flow-3);
}
p + h2{
  padding-block-start:var(--flow-3);
}
p + time{
  color:var(--color-subtle);
}

article > .body{
  margin-block-start:var(--flow-9);
}

code{
  font-family:var(--font-mono);
}
blockquote{

}
