:root{
  --weight-text:400;
  --weight-medium:500;
  --weight-semibold:700;
  --weight-bold:800;

  --leading-flat:1;
  --leading-snug:1.125;
  --leading-fine:1.25;
  --leading-standard:1.5;
  --leading-loose:1.75;

  --kerning-mono-medium: 3%;

  --measure: 84ch;
  --hed-primary:clamp(var(--type-scale-42),1.107rem + 4.048vw,var(--type-scale-76));
  --hed-secondary:clamp(var(--type-scale-32),0.75rem + 3.333vw,var(--type-scale-60));
  --hed-tertiary:clamp(var(--type-scale-28),1.571rem + 0.476vw,var(--type-scale-32));
  --hed-quaternary:clamp(var(--type-scale-20),1.071rem + 0.476vw,var(--type-scale-24));
  --hed-quinary:clamp(var(--type-scale-20),1.071rem + 0.476vw,var(--type-scale-24));

  --dek-primary:clamp(var(--type-scale-24),1.143rem + 0.952vw,var(--type-scale-32));
  --dek-secondary:clamp(var(--type-scale-20),1.071rem + 0.476vw,var(--type-scale-24));

  --lede: clamp(var(--type-scale-20), 1.071rem + 0.476vw, var(--type-scale-24));

  --nutgraf-primary: clamp(var(--type-scale-20), 1.071rem + 0.476vw, var(--type-scale-24));
  --nutgraf-secondary: clamp(var(--type-scale-18), 0.857rem + 0.714vw, var(--type-scale-24));
  --prose:clamp(var(--type-scale-16), 0.8261rem + 0.8696vw, var(--type-scale-20));
  --small: clamp(var(--type-scale-14), 0.786rem + 0.238vw, var(--type-scale-16));
  --caption:clamp(var(--type-scale-12),0.661rem + 0.238vw, var(--type-scale-14));
}
body{
  line-height: 1.5;
  text-decoration-skip-ink: auto;
  font-optical-sizing: auto;
  font-kerning: normal;
}

@supports font-variant-ligatures(common-ligatures){
  body{
    font-variant-ligatures: common-ligatures no-discretionary-ligatures no-historical-ligatures contextual;
  }
}

h1,h2,h3,h4{
  font-family:var(--font-serif);
  font-variant-numeric: lining-nums;
}
h1{
  font-size:var(--hed-primary);
  color:var(--color-emphasis);
}
h2{
  font-size:var(--hed-secondary);
//  color:var(--color-prominent);
}
h3{
  font-size:var(--hed-tertiary);
//  color:var(--color-distinct);
}
h4{
  font-size:var(--hed-quaternary);
//  color:var(--color-nuance);
}
h5,h6{
  font-size: var(--prose);
}
h6{
  font-weight: var(--weight-prose);
  font-style: italic;
}

h1,h2{
  font-weight:var(--weight-bold);
  line-height:var(--leading-fine);
}
h3,h4{
  font-weight:var(--weight-medium);
  line-height:var(--leading-fine);
}
h5, h6{
  line-height:var(--leading-standard);
}
p, li{
  font-size:var(--prose);
  font-weight: var(--weight-text);
  line-height:var(--leading-standard);
}

ol, ul{
  padding-inline-start: var(--flow-5);
  padding-block: var(--flow-5);
  max-width:95%;
}

@media screen and (min-width: 768px) {
  .about .prose ul{
    max-width:78%;
  }
}

li{
  padding-block:var(--flow-2);
  text-wrap: balance;
}

.byline{
  color:var(--color-prominent);
}

// COMBINATIONS
h1 + p{
  color: var(--color-subtle);
  font-size: var(--hed-tertiary);
  padding-block-start: var(--flow-3);
}

h2 + p{
  margin:0;
  padding-block-start:var(--flow-4);
}

p+p{
  padding-block-start:var(--flow-5);
}
p + h2{
  padding-block-start:var(--space-3);
}
p + time{
  color:var(--color-subtle);
}

p :not(pre)>code, li code, code{
  font-size: var(--small);
  display:inline-flex;
  border-radius:var(--radii-square);
  color:var(--color-distinct);
  white-space:nowrap;
  overflow-y:hidden;
  overflow-x:hidden;
  background: var(--background-secondary);
  padding: 0 var(--flow-2);
}

article > .body{
  margin-block-start:var(--flow-space-9);
}

article.default h2{
  margin-block-start: var(--flow-7);
  width: 100%;
  padding-block: var(--flow-5);
  border-top: var(--border-regular) solid var(--border-color-distinct);
  border-bottom: var(--border-regular) solid var(--border-color-distinct);
}

strong, b, th {
  font-weight: bold;
}

.prose{
  font-variant-numeric: oldstyle-nums proportional-nums;
  color: var(--color-distinct);
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 4;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-lines: 2;

  hyphens: auto;
  hyphenate-limit-chars: 7 4 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-zone: 8%;
  hyphenate-limit-last: always;

  h2{
    line-height: var(--leading-fine);
    font-size:calc(1.25*var(--hed-tertiary));
    padding-block-start: var(--flow-7);
    padding-block-end:var(--flow-3);
  }
  h3{
    padding-block-start:var(--flow-5);
    padding-block-end:var(--flow-3);
  }
  h4{
    padding-block:var(--flow-5);
    line-height: var(--leading-flat);
    font-style:italic;
  }
  h3 + h4{
    padding-block-start:var(--flow-3);
  }
}

h1.p-name + p{
  max-width:42ch;
}
@supports (text-wrap: pretty){
  .prose{text-wrap: pretty;}

  ul,ol,dl,dt,dd,p,figure,blockquote {
    text-wrap: pretty;
  }
}

@supports (hanging-punctuation: first last){
  ul,ol,dl,dt,dd,p,figure,blockquote {
    hanging-punctuation: first last;
  }
}
.lede, .dek, .nutgraf{
  text-wrap:balance;
}

blockquote{
  background: var(--background-secondary);
  padding-block: var(--flow-5);
  padding-inline: var(--flow-7);
  border-inline-start: var(--border-medium) solid var(--background-tertiary-inverse);
  margin-inline: 0;
  margin-block:var(--flow-4);

  ul, ol{
    padding-block: 0;
  }
}

@supports ( font-variant-position: sub ) {
    sub, .sub {
        vertical-align: baseline;
        font-size: 100%;
        line-height: inherit;
        font-variant-position: sub;
    }
}

@supports ( font-variant-position: super ) {
    sup, .sup {
        vertical-align: baseline;
        font-size: 100%;
        line-height: inherit;
        font-variant-position: super;
    }
}

sup, sub{
  padding:0 .25rem;
}

td, math, time[datetime*=":"] {
    font-variant-numeric: tabular-nums lining-nums slashed-zero;
}

:lang(en) > * { quotes: '“' '”' '‘' '’' ; } /* “Generic English ‘style’” */
:lang(en-GB) > * { quotes: '‘' '’' '“' '”'; } /* ‘British “style”’ */
:lang(fr) > * { quotes: '«?0202F' '?0202F»' '“' '”'; } /* « French “style” » */


.eyebrow{
  font-family:var(--font-mono);
  font-size:var(--small);
}
