:root{
  --gutter: var(--rhythm-moderato);
  --icon-color-primary: inherit;
  --icon-color-secondary: currentColor;
}

.wrapper{
  margin-inline: auto;
  max-width: clamp(16rem,var(--wrapper-max-width,100vw),80rem);
  padding-inline-start: var(--gutter);
  padding-inline-end: var(--gutter);
  position: relative;
}

.cluster{
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, var(--rhythm-moderato));
  justify-content: flex-start;
  align-items: center;
}
.container{
  container-type: inline-size;
}

stack-l {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

stack-l > * + * {
  margin-block-start: var(--rhythm-moderato);
}

box-l {
  display: block;
  padding-block: var(--rhythm-moderato);
  border-width: var(--border-thin);
  /* ↓ For high contrast mode */
  outline: var(--border-thin) solid transparent;
  outline-offset: calc(var(--border-thin) * -1);
}

.center {
  box-sizing: content-box;
  margin-inline: auto;
  text-align: center;
  max-inline-size: var(--measure);
  display:flex;
  flex-direction: column;
  align-items: center;
}

.flow > *+*{margin-block-start:var(--flow-space,1em)}

.full-bleed{margin-inline-start:calc(50% - 50vw);}

.skip-link {
    position: absolute;
    top: -40px;
    left: 6px;
    background: var(--accent-color);
    color: white;
    padding: 8px;
    text-decoration: none;
    border-radius: 4px;
    z-index: var(--z-skiplink);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}


/* SOURCE: https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


@supports (font-variant-ligatures: discretionary-ligatures){
  .dlig { font-variant-ligatures: discretionary-ligatures; }
  .hlig { font-variant-ligatures: historical-ligatures; }
  .dlig.hlig { font-variant-ligatures: discretionary-ligatures historical-ligatures; } /* Apply both historic and discretionary */
}

.pnum { font-variant-numeric: proportional-nums; }
.tnum { font-variant-numeric: tabular-nums;    }
.lnum { font-variant-numeric: lining-nums; }
.onum { font-variant-numeric: oldstyle-nums; }
.zero { font-variant-numeric: slashed-zero;    }
.pnum.zero { font-variant-numeric: proportional-nums slashed-zero; } /* Apply slashed zeroes to proportional numerals */
.tnum.zero { font-variant-numeric: tabular-nums slashed-zero; }
.lnum.zero { font-variant-numeric: lining-nums slashed-zero; }
.onum.zero { font-variant-numeric: oldstyle-nums slashed-zero; }
.tnum.lnum.zero { font-variant-numeric: tabular-nums lining-nums slashed-zero; }
.frac { font-variant-numeric: diagonal-fractions; }
.afrc { font-variant-numeric: stacked-fractions; }
.ordn { font-variant-numeric: ordinal; }

.smcp { font-variant-caps: small-caps; }
.c2sc { font-variant-caps: unicase; }
.hist { font-variant-alternates: historical-forms; }
