:root{
  --gutter: var(--flow-space-5);
}
.wrapper{
  margin-inline: auto;
  max-width: clamp(16rem,var(--wrapper-max-width,100vw),80rem);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  position: relative;
}

.cluster{
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, var(--flow-space-5));
  justify-content: flex-start;
  align-items: center;
}
.container{
  container-type: inline-size;
}

.center {
  box-sizing: content-box;
  margin-inline: auto;
  text-align: center;
  max-inline-size: var(--measure);
  display:flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 0.75em;
  width: 1cap;
  height: 0.75em;
  height: 1cap;
}

.with-icon {
  display: inline-flex;
  align-items: baseline;
}

.with-icon .icon {
  margin-inline-end: var(--flow-space-5);
}

/* SOURCE: https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
